article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block }
audio:not([controls]) { display: none; height: 0 }
[hidden], template {
display:none
}
html { margin: 0 auto; padding:0; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0 auto; padding:0; height:100%; min-height: 100%; background: #fff; color: #5b8401; font: 18px/140% "Helvetica Neue", "Microsoft Yahei", sans-serif }
a { background: transparent }
a.white{ color:#fff;}
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
h1 { font-size: 2em; margin: 0.67em 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark { background: #ff0; color: #000 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
pre { white-space: pre-wrap }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0; width:100%; }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0; padding: 0 }
button, input { line-height: normal }
button, select { text-transform: none }
input{ outline:none; font-family:"Microsoft Yahei"}
input[type="button"], input[type="submit"]{ cursor:pointer}

h1, h2, h3, h4, h5, h6, p { margin: 0 }
ul, ol, li { list-style: none; }
div, p, ul, ol { margin: 0; padding: 0 }
a { text-decoration: none; color: #000; cursor: pointer }
a:focus { outline: none; }
img { max-width: 100% }

.tbl{ display:table;}
.tbl-cell{ display:table-cell;}
.inline-table{ display:inline-table !important;}
.align-top{ vertical-align:top;}
.disblock { display: block !important; }

.left { float: left }
.right { float: right }
.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.ui_hide, .hide { display: none !important }
.p00 { padding: 0 !important }
.p010 { padding: 0 10px !important; }
.pt10 { padding-top: 10px !important }
.pb10 { padding-bottom: 10px !important }
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important }
.p10 { padding: 10px !important }
.m10 { margin: 10px !important }
.m100 { margin: 10px 0 !important }
.pt20 { padding-top: 20px !important }
.pb0{ padding-bottom:0 !important;}
.pb20 { padding-bottom: 20px !important }
.pb200{ padding-bottom:200px;}
.pbfooter { padding-bottom: 70px; }
.ptb20 { padding: 20px 0 !important; }
.p20 { padding: 20px }
.m010{ margin:0 10px;}
.p2010 { padding: 20px 10px; }
.m0{ margin:0 !important}
.m20 { margin: 20px }
.mtb30 { margin: 30px 0; }
.mtop2 { margin-top: 2px; }
.mtop3 { margin-top: -3px; }
.mtop4 { margin-top: -4px; }
.mtop5 { margin-top: 5px; }
.mtop10 { margin-top: 10px !important; }
.mtop20 { margin-top: 20px !important; }
.mtop30 { margin-top: 30px !important; }
.mtop40 { margin-top: 40px !important; }
.mleft10 { margin-left: 10px; }
.mright5{ margin-right:5px;}
.mright15{ margin-right:15px;}
.mright10{ margin-right:10px;}
.mright20{ margin-right:20px !important;}
.bold { font-weight: bold }
.normal{ font-weight:normal;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.red { color: #f2482c; }
.bggrey{ background:#72757e !important;}
.grey{ color:#8e8e93 !important;}
.black{ color:#232736 !important;}
.blue{ color:#0073f5 !important;}
.orange{ color:#f6770f;} 
.divide-box{ margin: 0 auto; height:10px; background: #f5f5f5;}
.bordertop{ border-top:1px solid #ddd;}
.borderbottom{ border-bottom:1px solid #ddd;}
.bordertopgrey{ border-top:1px solid #ecebeb;}
.borderbottomgrey{ border-bottom:1px solid #ecebeb;}
.noborder{ border:none !important;}

div, dl, header, footer, section, img{ margin:0; padding:0;}

.golf-header{ margin:0 auto; line-height:0; overflow:hidden;}
.sectionBox { margin: 0 auto; height:100%; background: #a1c93c; font: normal 18px/140% "微软雅黑", helvetica, arial; overflow:hidden; }
.main-box{ margin:0 3.125%; height:100%; min-height:100%; background:#f0f4b6; border-bottom-right-radius:8px; border-bottom-left-radius:8px; overflow:hidden;}

.shade-bg{ position:fixed; top:0; bottom:0; z-index:999; background:rgba(35,39,54,0.95);display:none;}

.captain li{ text-align:center; font-size:20px;}
.captain li.captain-head{ margin:20px auto 10px; width:90px; position:relative; overflow:hidden;}
.captain li.captain-head .hat{ position:absolute; width:90px; left:0; top:0; z-index:2;}
.captain li.captain-head .img-head{ margin-top:16px; width:90px; height:90px; text-align:center; border-radius:120px; overflow:hidden; z-index:1;}
.captain li.captain-head .img-head img{ width:90px; height:90px;}

.head01{ margin:6.25%;}
.head01 .txt{ vertical-align:top; text-align:left; padding:25px 0 0 15px;}

.partners{ margin:20px 3.125%; overflow:hidden;}
.partners li{ float:left; width:25%;}
.partners li .guys{ margin:0 10% 10px;}
.partners li .captain-head-small{ position:relative; overflow:hidden;}
.partners li .captain-head-small .hat{ position:absolute; left:0; top:0; z-index:2;}
.partners li .guys .img-head{ margin-top:18%; text-align:center; border-radius:120px; overflow:hidden; z-index:1;}


.input-normal { margin:0 auto; outline:none; border:none; border-radius:4px; height:50px; line-height: normal; font-size:18px; background:#f8fadb; color:#5b8401; padding-left:40px;}
.input-normal:focus { outline: none; box-shadow: inset 1px 1px 6px rgba(102,140,24,0.6) }
.input-nobg{ margin:0 auto; border:none; height:30px; line-height:30px; font-size:18px; background:#f0f4b6; color:#5b8401; padding-left:40px;}
input::-webkit-input-placeholder { color: #5b8401 !important; }/* WebKit browsers */

.select-normal{ margin:0 auto; outline:none; border:none; border-radius:4px; height:50px; line-height:normal; font-size:18px; background:#f8fadb; color:#5b8401; font-family:"微软雅黑";   -webkit-appearance: none; padding-left:36px; [;padding-left:40px;] /* safari browsers */  }
.select-normal:focus { outline: none; box-shadow: inset 1px 1px 6px rgba(102,140,24,0.6) }

.text-info{ margin:20px 0 10px; overflow:hidden;}
.text-info ul{ margin-bottom:20px; overflow:hidden;}
.text-info li{ margin:5px 5% 15px; overflow:hidden;}
.text-info li .icon01{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-phone.png) 9px 15px no-repeat;}
.text-info li .icon02{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-person.png) 9px 13px no-repeat;}
.text-info li .icon03{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-date.png) 9px 12px no-repeat;}
.text-info li .icon03a{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-time.png) 9px 12px no-repeat;}
.text-info li .icon04{ background:#f0f4b6 url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-date.png) 9px 3px no-repeat;}
.text-info li .icon05{ background:#f0f4b6 url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-position.png) 9px 4px no-repeat;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
/* 高清显示屏(设备像素比例大于等于1.5)使用2倍图  */
.text-info li .icon01{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-phone-big.png) 9px 15px no-repeat; background-size:24px 24px;}
.text-info li .icon02{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-person-big.png) 9px 13px no-repeat; background-size:24px 24px;}
.text-info li .icon03{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-date-big.png) 9px 12px no-repeat; background-size:24px 24px;}
.text-info li .icon03a{ background:#f8fadb url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-time-big.png) 9px 12px no-repeat; background-size:24px 24px;}
.text-info li .icon04{ background:#f0f4b6 url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-date-big.png) 9px 3px no-repeat; background-size:24px 24px;}
.text-info li .icon05{ background:#f0f4b6 url(http://www.jiefangqu.com/wlLightApp/images/golf/icon-position-big.png) 9px 4px no-repeat; background-size:24px 24px;}
}

.pos_r{ position:relative;}
.time-txt{ position:absolute; width:14%; left:43%; top:10px; text-align:center;}
.time dt{ float:left; width:43%;}
.time dt input{ text-indent:2em;}
.time dt.mleft{ margin-left:14%;}

.info-btn{ margin:5px 0 10px !important; padding:0 16%;}
.btn-common{ margin:0 auto; border:none; background:#f6770f; border-radius:4px; height:50px; line-height:50px; font-size:20px; color:#fff; text-align:center; outline:none; -webkit-appearance: none;}

.jfq-logo{ width:80px; margin-left:10px;}
.text-info li.download-text{ vertical-align:top; padding-top:8px; padding-left:10px; font-size:18px; line-height:140%;}

.text-rules{ margin:30px 5% 10px; overflow:hidden;}
.text-rules li{ margin-bottom:10px; padding-left:20px; font-size:18px; background:url(http://www.jiefangqu.com/wlLightApp/images/golf/dot.png) 5px 8px no-repeat;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
.text-rules li{ margin-bottom:10px; padding-left:20px; font-size:18px; background:url(http://www.jiefangqu.com/wlLightApp/images/golf/dot-big.png) 5px 8px no-repeat; background-size:6px 6px;}
}

footer{ background:#a1c93c; padding:30px 0;}

.w100 { width: 100px; }
.wp80{ width: 76%;}
.wp100{ width: 100%;}

.Validform_checktip{ display:none; color: red; font-size: 12px; padding-left: 42px;}
.Validform_wrong{ display:block;}
.Validform_right{ display:none;}


 @media only screen and (min-width:640px) {
html, body, .golf-header, .sectionBox { width: 640px; }
}
 @media only screen and (max-width:639px) {
html, body, .golf-header, .sectionBox { width: 100%; }
.btn-common{ font-size:16px;}
}
