body{ font-family:microsoft yahei; font-size:13px;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
p{margin:0 0 10px;}
ul,li{list-style:none; margin:0; padding:0;}
h1,h2,h3{line-height:30px;}
.icons{ background:url(../images/jfq-icons.png) no-repeat;}
.cursor{ cursor:pointer;}
.red{ color:#da372a;}
.grey{ color:#a19992;}
.mtop30{ margin-top:30px;}
.left{ float:left;}
.right{ float:right;}

a:link,a:visited{ color:#333333; text-decoration:none;}
a:hover{ color:#dd4929; text-decoration:none;}

a.grey:link,a.grey:visited{ color:#b3b3b3; text-decoration:none;}
a.grey:hover{ color:#dd4929; text-decoration:none;}

a.red:link,a.red:visited{ color:#da372a; text-decoration:none;}
a.red:hover{ color:#dd4929; text-decoration:none;}

a.blue:link,a.blue:visited{ color:#3298cb; text-decoration:none;}
a.blue:hover{ color:#dd4929; text-decoration:none;}

header{ padding-bottom:10px; border-bottom:1px solid #ecebe9;}
header h1{font-size:16px; line-height:24px;}
header p{ font-size:12px; color:#999;}

section figure{ text-align:center; margin:30px 0; padding:0;}
section h2{ font-size:14px; font-weight:bold;}
section p{ font-size:13px; line-height:180%; color:#000;}

.flag{ position:absolute; top:0; right:0; width:83px; height:66px; text-align:center; background-position:-379px -87px;}
.flag span.f20{ display:block; font-size:18px; color:#fff; padding-top:10px;}
.flag span.f14{ display:block; font-size:14px; color:#f4c3c3; margin-top:-5px;}

.team-box{ padding-bottom:50px; margin:0 auto 50px; border-bottom:1px dotted #ecebe9; overflow:hidden;}
.team{ margin:30px 0; padding:0;}
.team li{ width:21.45%; float:left; position:relative; margin:0 5%; overflow:hidden;}
.team-mask{ position:absolute;}

.team-name{ margin:20px 0 0 0px; text-align:center;}
.team-name .red{ display:block; margin-top:10px;}
.hand01{ display:inline-block; width:24px; height:21px; margin:-5px 5px 0 0; background-position:-113px -112px; vertical-align:middle;}

.new-comment{ font-size:14px; font-weight:bold; padding:20px 0; border-bottom:1px solid #ecebe9;}
.comment{ width:100%; margin:20px 0; overflow:hidden;}
.border-b{ padding-bottom:10px; border-bottom:1px solid #ecebe9;}
.head-img{ float:left; width:4%; margin-right:2%; text-align:left;}
.comment ul{ float:left; width:94%; margin-top:-5px;}
.comment ul li{ line-height:24px; overflow:hidden;}
.hand{ display:inline-block; margin:11px 5px 0 0; width:12px; height:12px; background-position:-125px -47px;}
.btn-support{ width:160px; height:50px; margin:80px auto; line-height:50px; font-size:16px; text-align:center; color:#fff; background:#ffb545; cursor:pointer;}
.more a{ display:block; width:100%; height:24px; line-height:24px; margin-top:10px; text-align:center; background:#f0f0ed;}
.more a:hover{ background:#ffeae8;}

footer p {text-align: center; font-size: 12px; color: #888; margin-top: 24px;}

@media only screen and (min-width:960px) {
header { position:relative; width:960px; margin:0 auto;}
section { width:960px; margin:0 auto;}
footer { width:960px; margin:0 auto;}
}

@media only screen and (max-width:959px) and (min-width:460px) {
header { position:relative; width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
.team-box{ padding-bottom:30px; margin-bottom:30px;}
.team li{ width:25%; margin:0 4%;}
.team-name .red{ display:block; margin-top:5px;}
.flag{ position:absolute; top:0; right:0; width:63px; height:56px; text-align:center; background-position:-390px -173px;}
.flag span.f20{ display:block; font-size:14px; color:#fff; padding-top:10px;}
.flag span.f14{ display:block; font-size:8px; color:#f4c3c3; margin-top:-2px;}

.head-img{ float:left; width:6%; margin-right:2%; text-align:left;}
.comment ul{ float:left; width:92%; margin-top:-5px;}
}

@media only screen and (max-width:459px) {
header { position:relative; width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
.team-box{ padding-bottom:20px; margin-bottom:20px;}
.team li{ width:25%; margin:0 4%;}
.team-name{ font-size:12px;}
.team-name .red{ display:block; margin-top:5px;}
.hand01{ display:inline-block; width:12px; height:10px; margin:-5px 5px 0 0; background-position:-147px -123px; vertical-align:middle;}
.flag{ position:absolute; top:0; right:0; width:63px; height:56px; text-align:center; background-position:-390px -173px;}
.flag span.f20{ display:block; font-size:12px; color:#fff; padding-top:10px;}
.flag span.f14{ display:block; font-size:10px; color:#f4c3c3; margin-top:-2px;}

.head-img{ float:left; width:12%; margin-right:2%; text-align:left;}
.comment ul{ float:left; width:86%; margin-top:-5px;}

.btn-support{ width:120px; height:40px; margin:40px auto; line-height:40px; font-size:16px; text-align:center; color:#fff; background:#ffb545; cursor:pointer;}
}