article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block }
audio:not([controls]) { display: none; height: 0 }
[hidden], template {
display:none
}
html { width:100%; min-height: 100%; height:100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; min-height: 100%; height:100%; width: 100%; background: #fff; color: #232736; font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif }
a { background: transparent }
a.white{ color:#fff;}
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
h1 { font-size: 2em; margin: 0.67em 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark { background: #ff0; color: #000 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
pre { white-space: pre-wrap }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0; width:100%; }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0; padding: 0 }
button, input { line-height: normal }
button, select { text-transform: none }
input{ outline:none; font-family:"Microsoft Yahei"}
input[type="button"], input[type="submit"]{ cursor:pointer}
.disbox {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-flex-align: center;
  -webkit-flex-pack: start;
  -webkit-flex-wrap: wrap;
  -moz-flex-direction: row;
  -moz-flex-align: center;
  -moz-flex-pack: start;
  -moz-flex-wrap: wrap;
  direction: row;
  align: center;
  pack: start;
  wrap: wrap;}
.boxalign { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center }
h1, h2, h3, h4, h5, h6, p { margin: 0 }
ul, ol, li { list-style: none; }
div, p, ul, ol { margin: 0; padding: 0 }
a { text-decoration: none; color: #000; cursor: pointer }
a:focus { outline: none; }
img { max-width: 100% }
[class^="icon-"], [class*=" icon-"] { display:inline-block; vertical-align:text-bottom }
.tbl{ display:table;}
.tbl-cell{ display:table-cell;}
.inline-table{ display:inline-table !important;}
.align-top{ vertical-align:top;}
.disblock { display: block !important; }
.pos-relative { position: relative; }
.group:after { content: ""; display: table; clear: both }
.line-through { text-decoration: line-through }
.clear-margin { margin: 0 !important }
.left { float: left }
.right { float: right }
.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.hide { display: none}
.p00 { padding: 0 !important }
.p010 { padding: 0 10px !important; }
.pt10 { padding-top: 10px !important }
.pb10 { padding-bottom: 10px !important }
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important }
.p10 { padding: 10px !important }
.m10 { margin: 10px !important }
.m100 { margin: 10px 0 !important }
.pt20 { padding-top: 20px !important }
.pb0{ padding-bottom:0 !important;}
.pb20 { padding-bottom: 20px !important }
.pb200{ padding-bottom:200px;}
.pbfooter { padding-bottom: 70px; }
.ptb20 { padding: 20px 0 !important; }
.p20 { padding: 20px }
.m010{ margin:0 10px;}
.p2010 { padding: 20px 10px; }
.m0{ margin:0 !important}
.m20 { margin: 20px }
.mtb10 { margin: 10px 0; }
.mtb30 { margin: 30px 0; }
.mtop2 { margin-top: 2px; }
.mtop3 { margin-top: -3px; }
.mtop4 { margin-top: -4px; }
.mtop5 { margin-top: 5px; }
.mtop10 { margin-top: 10px; }
.mtop20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
.mleft10 { margin-left: 10px; }
.mright5{ margin-right:5px;}
.mright15{ margin-right:15px;}
.mright10{ margin-right:10px;}
.mright20{ margin-right:20px !important;}
.bold { font-weight: bold }
.normal{ font-weight:normal;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.white{ color:#fff;}
.red { color: #e4393c; }
.grey{ color:#8e8e93 !important; font-weight:normal}
.black{ color:#232736 !important;}
.blue{ color:#0073f5 !important;}
.darkblue{ color:#607fa6 !important;}
.bggrey{ background:#f5f5f5 !important;}
.divide-box{ margin: 0 auto; height:10px; background: #f5f5f5;}
.bordertop{ border-top:1px solid #ddd;}
.borderbottom{ border-bottom:1px solid #ddd;}
.bordertopgrey{ border-top:1px solid #ecebeb;}
.borderbottomgrey{ border-bottom:1px solid #ecebeb;}
.noborder{ border:none !important;}
.lineheight0{ line-height:0 !important;}

.input-normal { border: solid 1px #ddd; background-color: #fff; padding: 0 4px; color: #232736; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s; }
.input-normal:focus { outline: none; border: solid 1px #33aaff \9; border-color: rgba(82,168,236,0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6); }

/*�齱����*/
.sectionBox{ margin:0 auto; font: normal 12px/120% "΢���ź�", helvetica, arial; }
.main-info{ position:relative; height:100%; background:url(../images/choujiang-bg-repeat.jpg) top left repeat-y; background-size:100% 100%; overflow:hidden;}
.main-info .prize-box{ margin-top:-15%; background:url(../images/choujiang-bg.jpg) center -30px no-repeat; background-size:100%; overflow:hidden;}
.prize-btn{ width:50%; margin:88% auto 0; cursor:pointer; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }
.quan-btn{ width:55.78125%; margin:10px auto 0; cursor:pointer; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }

/*����1*/
.pop-box{ position:absolute; width:100%; height:100%; top:0; bottom:0; color:#f29708; z-index:9; background-color:rgba(0,0,0,0.9);} 
.step01 ul{ width:90%; margin:60% auto 0;}
.step01 ul li{ width:30%; margin:0 1.5%; float:left; text-align:center; cursor:pointer; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }

.step-box .txt{ margin:15% auto 8%; text-align:center;}
.step-box .txt .f01{ font-size:40px; line-height:40px; font-weight:bold;}
.step-box .txt .f02{ margin-top:4%; font-size:28px; line-height:28px;}
.step-box .xiaofeiquan{ position:relative; width:46.875%; margin:0 auto 10%; color:#fff; text-shadow:1px 1px 2px #134f82; text-align:center; overflow:hidden;}
.step-box .xiaofeiquan .xiaofeiquan-bg{ position:absolute; z-index:1; top:0; bottom:0; left:0; right:0;}
.step-box .xiaofeiquan .xiaofeiquan-bg img{ width:100%;}
.step-box .xiaofeiquan .f03{ position:relative; margin-top:55%; font-size:110px; line-height:110px; z-index:2;}
.step-box .xiaofeiquan .f04{ position:relative; margin-top:5%; font-size:28px; line-height:28px; z-index:2;}

.step03 .step-box .xiaofeiquan{ margin:0 auto 3%;}

.get-btn{ width:90%; margin:0 5%; padding:15px 0; background:#da3d31; font-size:20px; font-family:microsoft yahei; color:#fff; text-align:center; border-radius:4px; border:none; outline:none; -webkit-appearance: none; cursor:pointer;}
.bgorange{ background:#f29708;}
.bggreen{ background:#3cb158;}
.tips{ position:relative; width:70%; margin:4% 15% 0; text-align:center;}
.tips .arrow{ position:absolute; left:50%; top:-4px; margin-left:-4px; width:8px; height:8px; background:#3cb158; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.tips input{ padding:5px; font-size:16px;} 

.close-btn{ position:absolute; top:-9%; right:5%; border:1px solid #777981; color:#fff; padding:8px 15px; border-radius:4px; cursor:pointer;}


/*---���ȯ�б�--*/  
.prize-list{ background:#f5f5f5; overflow:hidden;}
.disbox{ display:-moz-box; display:-webkit-box; display:box; -moz-box-align:center; -webkit-box-align:center; box-align:center;}
.get-record{ margin:20px 0;}
.record-list-bg{ display:block; margin:10px 10px 0; background:#4ea9f3; border-radius:8px; box-shadow:0 2px 0 0 #ededf1; overflow:hidden;}
.record-list{ min-width: 258px; margin:5px 0 0; padding:15px 10px; background:#ffffff; border:1px solid #e5e5e5; border-top:none;}
.head-img01{ background:#49a7f6; width:40px; height:40px; border-radius:90px;}
.head-img01 img{ display:block; width:40px; height:40px; border-radius:90px;}
.record-txt{ min-width:120px; color:#232736; font-size:14px; padding:2px 0 0 5px; line-height:140%; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.money{ width:90px; font-weight:normal; font-size:20px; color:#4ea9f3; text-align:right;}
.yibao-bg{ background:#00873a;}
.daojia-bg{ background:-webkit-gradient(linear, 0 0, 0 100%, from(#fe8c41), to(#ff3450));}

.out-of-date{ background:#d8d8d9;}
.out-of-date .head-img01{ background:#d8d8d9;}
.out-of-date .record-txt, .out-of-date .money{ color:#c0c0c3;}

/*----���ȯ˵��ҳ��----*/
.use-date{ margin:0 auto; padding:15px 10px;}
.use-date li{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}

.common-title{ padding:10px; background: #f5f5f5; color:#8e8e93;}
.common-info{ padding:15px 10px; line-height:180%;}

.user-qq{ margin-left:10px; padding-left:0;}

.fixed-info{ position:fixed; bottom:0; left:0; right:0; text-align:center;}
.fixed-text{ display:block; padding:15px 0; height:25px; line-height:25px; font-size:18px; color:#da372a; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f6));}

/*----��������ȯ˵��ҳ��----*/
.jfq-quan{ background:-webkit-gradient(linear, 0 0, 0 100%, from(#49a7f6), to(#378ed7)); overflow:hidden;}
.quan-money{ margin:22% auto; font-size:110px; font-weight:normal; color:#fff; text-align:center;}
.quan-date{ font-size:14px; color:#d9e6f6; text-align:center;}

 @media only screen and (min-width:640px) {
.sectionBox, .divide-box { width: 640px; }
}
 @media only screen and (max-width:639px) {
.sectionBox, .divide-box { width: 100%; }
.step-box .txt .f01{ font-size:40px; line-height:40px;}
.step-box .txt .f02{ margin-top:4%; font-size:24px; line-height:24px;}
.step-box .xiaofeiquan .f03{ position:relative; margin-top:55%; font-size:90px; line-height:90px; z-index:2;}
.step-box .xiaofeiquan .f04{ position:relative; margin-top:5%; font-size:28px; line-height:28px; z-index:2;}
.quan-money{ margin:22% auto 20%; font-size:90px;}
}
 @media only screen and (max-width:479px) {
.step-box .txt .f01{ font-size:24px; line-height:24px;}
.step-box .txt .f02{ margin-top:4%; font-size:18px; line-height:18px;}
.step-box .xiaofeiquan .f03{ position:relative; margin-top:55%; font-size:55px; line-height:55px; z-index:2;}
.step-box .xiaofeiquan .f04{ position:relative; margin-top:5%; font-size:20px; line-height:20px; z-index:2;}
.get-btn{ font-size:16px;}
.get-btn.bggreen{ font-size:14px;}
.quan-money{ margin:22% auto 19%; font-size:80px;}
}
 @media only screen and (max-width:319px) {
.step-box .txt .f01{ font-size:20px; line-height:20px;}
.step-box .txt .f02{ margin-top:4%; font-size:14px; line-height:14px;}
.step-box .xiaofeiquan .f03{ position:relative; margin-top:60%; font-size:30px; line-height:30px; z-index:2;}
.step-box .xiaofeiquan .f04{ position:relative; margin-top:10%; font-size:14px; line-height:14px; z-index:2;}
.get-btn{ padding:10px 0; font-size:14px;}
.get-btn.bggreen{ font-size:12px;}
.quan-money{ margin:22% auto 18%; font-size:70px;}
}

.animated1s {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated2s {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated3s {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated4s {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

/*������ɫ����*/
.bgred{ background:#fc4f00 }
.color-red{ color:#fc4f00 }
.bggreen01{ background:#42953e }
.color-green{ color:#42953e }

.loading{ text-align:center; height:36px; line-height:36px; border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.loading img{ vertical-align:middle; margin-top:-3px; width:16px;}
