html{ margin:0; padding:0;}
body{ position:relative; font-family:microsoft yahei,Hiragino Sans GB,"黑体","宋体",Arial; text-align:left; font-size:28px; color:#474651; line-height:200%; background:#fff; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block; margin:0; padding:0;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
a:link,a:visited{ color:#fff; text-decoration:none;}
a:hover{ color:#fff; text-decoration:none;}
form,ul,li,p,img,dl,dt,input{margin:0px;padding:0px;}
ul,li{list-style:none;}
h1,h2,h3{line-height:30px;}
.dsn{ display:none;}
.red{ color:#dd5248;}
.grey{ color:#8e8e93;}
.bold{ font-weight:bold;}
.mright10{ margin-right:10px;}
.f14{ font-size:14px;}
.f12{ font-size:12px;}
.orange{ color:#f29708;}
.blue{ color:#0073f5}
.mleft10{ margin-left:10px;}
.tap-nobg{ tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}

.main-box{ position:relative; width:640px; margin:0 auto; padding:0; background:#ebebf4; overflow:hidden;}
.main-box-bg{ position:absolute; width:100%; top:0; left:0; right:0; z-index:1;}
.part01{ position:relative; width:100%; z-index:2;}

.section01{ margin:40px 2.5% 30px; padding:5px 10px; background:#fff; border-radius:8px; box-shadow:0 1px 0 1px #d3d3db;}
.disbox{ display:-moz-box; display:-webkit-box; display:box; -moz-box-align:center; -webkit-box-align:center; box-align:center;}
.disbox-a01{ width:74px; height:74px;}
.head-img{ display:block; width:66px; height:66px; line-height:66px; border:3px solid #fff; border-radius:90px; text-align:center; overflow:hidden; [;border:3px solid #ccc outset;]}
.head-img img{ width:100%; height:100%;}

.disbox-a02{ position:relative; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1; border-radius:6px; min-height:115px;}
.text01{ text-align:left; padding-left:10px; line-height:140%; font-size:14px;}
.arrow{ -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); background:#fbebea; border-radius:2px; width:20px; height:20px; position:absolute; top:50%; left:-5px; margin-top:-10px}

.section02{ position:relative; margin:0 2.5%; text-align:center; color:#fff; background:url(../images/red-packet-bg-new.png) center top no-repeat; background-size:100%; border-radius:8px; overflow:hidden; z-index:1;}
.ticket-bg{ background:url(../images/quan-bg-blue.png) center top no-repeat;}
.txt01{ margin-top:30px; font-size:36px;}
.num{ margin-top:30px; font-size:90px;}
.txt02{ font-size:18px; line-height:180%; margin-bottom:20px;}
.mtop20{ margin-top:20px;}
.mtop10{ margin-top:10px;}
.mtop02{ margin:40px 0 10px;}

.bottom-bg{ position:relative; margin-top:-10px; width:100%; height:5px; background:url(../images/border-bg-01.png) left top repeat-x; background-size:16px; z-index:2;}

.foot{ width:640px; margin:0 auto; padding-top:20px; background:#ebebf4; background-size:16px; overflow:hidden;}
/*.dl-btn{ display:block; margin:40px auto; padding:15px 0; width:90%; text-align:center; font-size:32px; font-family:microsoft yahei,Hiragino Sans GB,"黑体","宋体",Arial; color:#fff; background:#da372a; border-radius:6px; border:none; outline:none; -webkit-appearance: none; cursor:pointer; overflow:hidden;}*/
.text02{ margin:0 10px 10px; line-height:160%; font-size:14px}
.text02 li{ margin-top:10px;}
.text02 li.t-list{ padding-left:15px; background:url(../images/dot-red.png) no-repeat left 9px; background-size:3px;}

/*20150506 modified*/
.get-prize-btn{ margin:46% auto 16%; padding:2% 0 3%; width:90%; text-align:center; font-size:20px; font-family:microsoft yahei,Hiragino Sans GB,"黑体","宋体",Arial; color:#fff; background:#f29708; box-shadow:0 1px 0 1px #ba2f24; border-radius:6px; border:none; outline:none; -webkit-appearance: none; cursor:pointer; overflow:hidden;}
.get-prize-btn img{ width:60%; vertical-align:middle;}
.add-btn{ margin:-5% auto 10px;}

.done-btn{ background:#8e8e93;}

#erweima img{ width:100%;}

.foot-txt{ margin-bottom:20px; font-size:12px; text-align:center;}

.get-record{ margin:20px 0;}
.record-title{ width:90%; margin:40px auto 0; font-size:14px; border-top:1px solid #c6c6cd; text-align:center;}
.record-title .txt{ display:block; width:130px; margin:-25px auto 0; background:#ebebf4;}
.record-list{ margin-left:5%; padding:15px 5% 15px 0; border-bottom:1px solid #d8d8e1;}
.head-img01 img{ display:block; width:40px; height:40px; border-radius:90px;}
.record-txt{ min-width:160px; font-size:14px; padding:2px 0 0 10px; line-height:140%; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.money{ width:60px; font-size:20px; text-align:right; padding-right:}

section{ padding:0;}
section figure{ padding:0; text-align:center; margin:0;}
section h2{ color:#bb1b0f; margin:15px 0 10px 0; padding:0 10px; font-size:20px; font-weight:bold;}
section p{ margin:0 0 5px; padding:0 10px; font-size:18px; line-height:180%; color:#000;}

.dl-btn{ width:100%;}
.dl-btn li{ list-style:none; float:left; width:50%;}
.dl-btn li img{ width:100%;}
.wp100{ width: 100%;}
.pleftright10{ padding: 0 10px;}
.pt0{ padding-top: 0;}

@media only screen and (min-width:640px) {
.main-box, .foot{ width:640px;}
.disbox-a01{ width:54px; height:54px;}
.head-img{ display:block; width:50px; height:50px; text-align:center; border:2px solid #fff; border-radius:50px; overflow:hidden;}
.head-img img{ width:100%; height:100%;}
.disbox-a02{ min-height:0;}
.text01{ padding-left:10px; line-height:140%;}
.section01{ margin:20px 2.5% 15px;}
.section02{ margin:0 2.5%; min-height:0; padding:20px 0}
.txt01{ margin-top:15px; font-size:26px;}
.num{ margin-top:20px; font-size:60px;}
.txt02{ font-size:14px; line-height:140%; margin-bottom:20px;}
/*.dl-btn{ margin:20px auto; font-size:20px; padding:12px 0;}*/
.text02 li{ margin-top:5px;}
.text02 li.t-list{ padding-left:10px; background:url(../images/dot-red.png) no-repeat left 9px; background-size:3px;}
.record-title .txt{ display:block; width:130px; margin:-15px auto 0; background:#ebebf4;}
.mtop02{ margin:10px 0 5px;}
}

@media only screen and (max-width:639px) {
body{ font-size:16px;}
.main-box, .foot{ width:100%;}
.disbox-a01{ width:54px; height:54px;}
.head-img{ display:block; width:50px; height:50px; text-align:center; border:2px solid #fff; border-radius:50px; overflow:hidden;}
.head-img img{ width:100%; height:100%;}
.disbox-a02{ min-height:0;}
.text01{ padding-left:10px; line-height:140%;}
.section01{ margin:20px 2.5% 15px;}
.section02{ margin:0 2.5%; min-height:0; padding:20px 0}
.txt01{ margin-top:15px; font-size:26px;}
.num{ margin-top:20px; font-size:60px;}
.txt02{ font-size:14px; line-height:140%; margin-bottom:20px;}
/*.dl-btn{ margin:20px auto; font-size:20px; padding:12px 0;}*/
.text02 li{ margin-top:5px;}
.text02 li.t-list{ padding-left:10px; background:url(../images/dot-red.png) no-repeat left 9px; background-size:3px;}
.record-title .txt{ display:block; width:130px; margin:-15px auto 0; background:#ebebf4;}
.mtop02{ margin:10px 0 5px;}

.get-prize-btn{ margin:48% auto 5%; padding:2% 0;}
.get-btn{ margin:46% auto 16%; padding:1% 0 2%;}
.done-btn{ margin:40% auto 5%; padding:2% 0;}
.add-btn{ margin:0 auto 10%; padding:2% 0;}
.got-btn{ margin:46% auto 16%; padding:2% 0;}
}

@media only screen and (max-width:479px) {
/*.dl-btn{ margin:20px auto; font-size:18px; padding:10px 0;}*/

.get-prize-btn{ margin:48% auto 3%; font-size:16px; padding:2% 0;}
.get-btn{ margin:46% auto 16%; padding:1% 0 2%;}
.done-btn{ margin:38% auto 4%; padding:2% 0;}
.add-btn{ margin:0 auto 6%; padding:2% 0;}
.got-btn{ margin:46% auto 16%; padding:2% 0;}
}

@media only screen and (max-width:339px) {
/*.dl-btn{ margin:20px auto; font-size:18px; padding:10px 0; padding:1% 0;}*/
.get-prize-btn{ margin:45% auto 3%; font-size:14px;}
.get-btn{ margin:42% auto 12%; padding:1% 0 2%;}
.done-btn{ margin:34% auto 4%; padding:1% 0;}
.add-btn{ margin:0 auto 4%; padding:1% 0;}
.got-btn{ margin:42% auto 12%; padding:1% 0;}
}