@charset "utf-8";
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
ul, li, ol{list-style:none;}
em ,i{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;outline:none;cursor:pointer;color:#666;}
a:hover {text-decoration:none; color:#d53629}
*{/*word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none;*/}
body,textarea,pre,input{font:12px/1.6 tahoma,arial,sans-serif;}
input,textarea{margin:0;padding:0;outline:none;font-size:100%;vertical-align:baseline;}
textarea{resize:none;}
hr {border:none;height:1px;}

body{/*background:#F2F0F0;*/color:#555;font-family:Arial;font-size:12px;}
pre{white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {clear:both;zoom:1;}

.pos_r{position:relative;} .pos_a{position:absolute;}
.fl{float:left;display:inline;} .fr{float:right;display:inline;}
.show{ display: block;}
.hide{ display: none;}
.bd_none{border:none !important;}
.img_none{background-image:none !important;}

.cb {clear:both;}
.tc {text-align:center;} .tl {text-align:left;} .tr {text-align:right;}
.tdu:hover{ text-decoration: underline;}
.none{display:none}
img, div, input, h1, a{ behavior:url("iepngfix.htc"); background:url(../images/iepngfix.htc)}
.iepngfix{ behavior: url(../images/iepngfix.htc); }
    
@font-face{font-family:"Merriweather";
src: url('../images/font/Merriweather.eot');/* IE9 Compat Modes */
src: url('../images/font/Merriweather.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
     url('../images/font/Merriweather.woff2') format('woff2'),/* Modern Browsers */
	 url('../images/font/Merriweather.ttf') format('truetype');/* Safari, Android, iOS */}

/*圆角*/
.r3 {border-radius:3px;} .r5 {border-radius:5px;} .r10 {border-radius:10px;}
.rt3 {border-radius: 3px 3px 0 0;} .rt5 {border-radius: 5px 5px 0 0;} .rt10 {border-radius: 10px 10px 0 0;}
.rb3 {border-radius: 0 0 3px 3px;} .rb5 {border-radius: 0 0 5px 5px;}
.rl3 {border-radius:3px 0 0 3px;} .rl5 {border-radius:5px 0 0 5px;}
.rr3 {border-radius: 0 3px 3px 0;} .rr5 {border-radius: 0 5px 5px 0;}

.box_shadow{background:#fff; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);}

/*间距*/
.mr0 { margin-right:0 !important;} .mr5{margin-right:5px !important;} .mr10 { margin-right:10px !important;} .mr15 { margin-right:15px !important;} .mr20 { margin-right:20px !important;}
.mb3 { margin-bottom:3px !important;} .mb5 { margin-bottom:5px !important;} .mb10 { margin-bottom:10px !important;} .mb15 { margin-bottom:15px !important;} .mb20 { margin-bottom:20px !important;} .mb25 { margin-bottom:25px !important;}.mb40 { margin-bottom:40px !important;}
.ml5 { margin-left:5px !important;} .ml10 { margin-left:10px !important;} .ml15 { margin-left:15px !important;} .ml20 {margin-left: 20px !important;}
.mt3 { margin-top:3px !important;} .mt5{margin-top:5px !important;} .mt10{margin-top: 10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25 { margin-top:25px !important;} .mt30 { margin-top:30px !important;} .mt40 { margin-top:40px !important;} .mt50 { margin-top:50px !important;} .mt60 { margin-top:60px !important;} .mt80 { margin-top:80px !important;}
.pt0 { padding-top:0 !important;} .pt2 {padding-top:2px !important;} .pt5 { padding-top:5px !important;}.pt10 { padding-top:10px !important;} .pt15{padding-top:15px !important;} .pt20{padding-top:20px !important;} .pt25{padding-top:25px !important;} .pt30{padding-top:30px !important;} .pt40{padding-top:40px !important;} .pt50{padding-top:50px !important;}
.pb5 { padding-bottom:5px !important;} .pb10 { padding-bottom:10px !important;} .pb19 { padding-bottom:19px !important;} .pb20 { padding-bottom:20px !important;} .pb25 { padding-bottom:25px !important;} .pb30 { padding-bottom:30px !important;}.pb40 { padding-bottom:40px !important;} .pb50 { padding-bottom:50px !important;} .pb60 { padding-bottom:60px !important;}
.pl5 { padding-left:5px !important;} .pl10 { padding-left:10px !important;} .pl15 { padding-left:15px !important;} .pl20 { padding-left:20px !important;} .pl30 { padding-left:30px !important;} .pl60 { padding-left:60px !important;}
.pr5 { padding-right:5px !important;} .pr10 { padding-right:10px !important;} .pr15 { padding-right:15px !important;} .pr20 { padding-right:20px !important;} .pr60 { padding-right:60px !important;}

/*文字*/
.bold {font-weight:700;}
.ft12 {font-size:12px!important;} .ft13 {font-size:13px!important;} .ft14{font-size:14px!important;} .ft16{font-size:16px!important;} .ft18 { font-size:18px!important;} .ft20 { font-size:20px!important;}  .ft22 { font-size:22px!important;} .ft24 { font-size:24px!important;} .ft28 { font-size:28px!important;} .ft30 { font-size:30px!important;}
.gray{color:#999;}
.green01{color:#00be3a;}
.red,a.red{color:#f69;}
a.red:hover{ color:#d53629 !important; text-decoration:none}
.orange{color:#d53629;}
.pink{ color:#ff70a7;}
.ofh{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:normal; word-wrap:normal;}
.overh{ overflow:hidden;}
.outlay{color: #FF7B0E;}
.income{color: #1BB974;}
.ftline22{ line-height:22px !important;}
.ftline24{ line-height:24px !important;}
.ftyahei{font-family:'Microsoft YaHei' !important;}
.ftarial{ font-family:Arial!important; }
.ftbold{ font-weight:bold;}
.ftheiti{ font-weight:"黑体";}
.t-left{ text-align:left}
.t-center{ text-align:center}
.t-right{ text-align:right}
.ftheiti{ font-family:"黑体"!important}


/*表单*/
.input_text{border:1px solid #aaa; height:28px;line-height:22px;padding:0 5px;}
.input_text:focus{border: 1px solid #F8BFD1;}
.input_text_number{border:1px solid #aaa;height:22px;line-height:22px;padding:0 5px;}
.gray_text {height:24px;line-height:24px; padding:0 5px; border:1px #CFCFCF solid}
.gray_text:focus{border:1px solid #F8BFD1}

/*按钮*/
.btn{background-color:#f69;border-radius:4px;cursor:pointer;height:26px; line-height:25px; line-height:28px\9; padding:0 15px;border:none;color:#fff;font-weight:700; display: inline-block;}a.btn:hover{color:#fff;}
.upload_btn{color:#FE73AB; cursor:pointer;}.upload_btn:hover{color:#f69;}
.uploading_btn{background-position:0 -40px; color:#999; display:none}

.orange_btn { background-color: #FA8100; border:1px solid #FA8100;}
.gray_btn {background-color: #F4F4F4; border:1px solid #bbb; color: #333; font-weight: normal;}

/*表单验证*/
.onLoad{background:url(../images/onLoad.gif) no-repeat 3px 13px; padding-left:25px; font-size:12px; color:#999; vertical-align:middle } 
.onCorrect{ display:inline-block; height:34px; background:url(../images/ok_01.png) no-repeat 0 11px; padding-left:15px; vertical-align:middle; padding-right:5px;width:180px}
.onFocus,.onShow,.onLoad{ height:34px; line-height:34px; color:#999;}
.onError{background:url(../images/error_01.png) left 12px no-repeat; color:#FF7777; padding-left:22px;}

/*跳转提示*/
.msg_wrap{ min-height: 320px; height: 320px;}
.message_box{margin:60px auto; padding:20px; width:580px; background:#fff; box-shadow:0 0 3px rgba(34,25,25,0.2);}
.msg_right,.msg_error,.msg_alert{padding:6px 0 6px 58px;min-height:40px;height:auto !important;height:40px;line-height:160%;background:url(../images/msg_bg.png) no-repeat 10px -592px;font-size:14px;}
.msg_error{ background-position: 10px -492px;}
.msg_alert{ background-position: 10px -392px;}
.msg_btnleft{margin-top:8px;}

/*提示信息*/
.green_alert, .pink_alert, .blue_alert{ display: block; margin: 5px 0; padding: 0 10px; vertical-align: middle; font-size: 14px; line-height: 35px; width: 668px;}
.green_alert { background-color: #EEF8D1; border: 1px solid #87BB44; color: #608100;}
.pink_alert { background-color: #FFE1E9; border: 1px solid #FF62A1; color: #DA1153;}
.blue_alert { background-color: #D1F2F8; border: 1px solid #3CC1FF; color: #0B7CB6;}

/*弹窗*/
.d-outer { text-align:left; }
.d-border, .d-dialog { border:0 none; margin:0; border-collapse:collapse; width:auto;}
.d-nw, .d-n, .d-ne, .d-w, .d-c, .d-e, .d-sw, .d-s, .d-se, .d-header, .d-main, .d-footer { padding:0; }
.d-header, .d-button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.d-title { overflow:hidden; text-overflow: ellipsis; cursor:move; }
.d-state-noTitle .d-title { display:none; }
.d-close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.d-close:hover { text-decoration:none; }
.d-main { text-align:center; vertical-align:top; min-width:9em; }
.d-content {/*display:inline-block;*/ display:block\0/*IE8 BUG*/; display:inline-block\9\0; *zoom:1; *display:inline; text-align:left; border:0 none; width:100%;  }
.d-content.d-state-full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.d-loading { height:32px; text-indent:-999em; overflow:hidden; background:url(../images/loading.gif) no-repeat center center; }
.d-buttons { padding:5px 8px; text-align:right; white-space:nowrap; }
.d-button { margin-left:15px; padding: 0 8px; cursor: pointer; display: inline-block; min-height:2.1em; text-align: center; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: 1px solid #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.d-button::-moz-focus-inner, .d-button::-moz-focus-outer { border:0 none; padding:0; margin:0; }
.d-button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.d-button:hover { color:#000; border-color:#666; }
.d-button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.d-button[disabled] { cursor:default; color:#666; background:#DDD; border: 1px solid #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
.d-state-highlight { color: #FFF; border: 1px solid #1c6a9e; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
.d-state-highlight:hover { color:#FFF; border-color:#0F3A56; }
.d-state-highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
.d-mask { background:#fff; filter:alpha(opacity=80); opacity:.8;}

.d-inner { background:#FFFFFF;}
.d-nw, .d-ne, .d-sw, .d-se { width:5px; height:5px; }
.d-nw, .d-n, .d-ne, .d-w, .d-e, .d-sw, .d-s, .d-se {background:rgba(0, 0, 0, .2); background:#000\9!important; filter:alpha(opacity=20);}
.d-titleBar { position:relative; height:100%; font-size:14px; border-bottom: 1px solid #E9E9E9; background-color:#f7f3f3;color:#666666;}
.d-title { height:28px; line-height:26px; padding:0 48px 0 10px;}
.d-state-drag .d-title { cursor:move;}
.d-close { font-family: Tahoma,Arial,sans-serif;font-weight: bold; color: #999999; position:absolute;top:6px;right:7px;}
.d-close:hover{ text-decoration:none; color:#900;}
.d-content { color:#666; }
.d-state-focus .d-content { color:#000; }.d-buttons { background-color:#F6F6F6; border-top: 1px solid #DADEE5; }

.d-state-noTitle .d-close { top:0; right:5px; text-align:center; text-decoration:none; color:#999999; background:none; filter:!important; }
.d-state-noTitle .d-close:hover, .d-state-noTitle .d-close:active { text-decoration:none; color:#900; }

@media screen and (min-width:0) {/* css3 */
	.d-state-focus .d-dialog { box-shadow: 0 0 3px rgba(0, 0, 0, .2); }
	.d-state-drag, .d-state-focus:active  { box-shadow:none; }
	.d-state-focus { box-shadow:0 3px 8px rgba(0, 0, 0, .3);  }
	.d-outer { -webkit-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out; transition: box-shadow .2s ease-in-out, transform .2s ease-in-out; }
	.d-state-visible { -webkit-transform: scale(1); transform: scale(1); }
}

.d_loading{background: url(../images/loading.gif) no-repeat scroll 20px center transparent; padding: 10px 40px 10px 50px;}

.style-1 .l{ width:550px; margin-right:30px;}
.style-1 cite{ display:block; line-height:24px; margin-bottom:24px; font-style:normal }
.about_info_list{ border:1px solid #D9D9D9; background:#F8FBFE; overflow:hidden; border-radius:5px; width:189px; float:left; margin-right:18px; padding:15px 20px; height:227px;}
.about_info_list h4{ height:39px; line-height:39px; border-bottom:1px solid #D9D9D9;  font-size:18px; color:#6A6A6A; margin-bottom:15px;}
.about_info_list p{ font-size:14px; line-height:24px; margin-bottom:10px; }
.about_info_list span{ color:#FF6600; font-size:14px; font-weight:bold; }
.about_info_list a{ color:#11AEE5; font-size:14px;}
.member{ line-height:24px; margin-bottom:123px; clear:both}
.member strong{ display:block; font-size:18px; color:#6A6A6A; margin-top:20px;}
.member span{ display:block; margin-top:25px; font-size:14px; font-weight:bold; color:#6a6a6a;}
.member  p{ color:#666; font-size:12px;}

/* 提示信息 */
.tipbox{height:54px;line-height:54px;position:absolute;display:none;}
.tipbox .tip-l{float:left;width:45px;height:54px;background-image:url(../images/tip_layer.png);background-repeat:no-repeat;background-position:-5px 0;}
.tipbox .tip-c{float:left;height:54px;line-height:52px;padding:0 10px 0 5px; background-image:url(../images/tip_layer.png);background-repeat:repeat-x;background-position:0 -161px;}
.tipbox .tip-r{float:left;width:5px;height:54px;background-image:url(../images/tip_layer.png);background-repeat:no-repeat;background-position:0 0;}
.tip-success .tip-l{background-position:-6px 0;}
.tip-alert .tip-l{background-position:-6px -54px;}
.tip-error .tip-l{background-position:-6px -108px;}

.phone-num{/* font:normal 18px/20px 'Merriweather', Arial, Helvetica, sans-serif;*/ color:#fff;}

/*物业联盟*/
.left{ float:left;}
.right{ float:right;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.noborder{ border:none !important;}
.fontfam{ font-family:Arial, Helvetica, sans-serif;}
.red{ color:#da372a !important;}
.green{ color:#d53629 !important;}
.bordert{ border-top:1px solid #e8e8e9;}
.borderb{ border-bottom:1px solid #e8e8e9;}

.alliance-text{ width:1100px; height:296px; margin:40px auto 0; background:url(../images/page-banner01.jpg) no-repeat; overflow:hidden;}
.alliance-text span{ display:block; margin:90px 0 0 90px; width:670px; font-size:14px; color:#fff;}
.alliance-text span h3{ margin-bottom:20px; font-size:24px; font-weight:normal;}

.plan-text{ width:1100px; height:302px; margin:40px auto 0; background:url(../images/page-banner05.jpg) no-repeat; overflow:hidden;}
.plan-text h3{ margin-top:60px; font-size:36px; font-weight:normal; color:#ffae20; text-align:center;}
.plan-text ul{ margin-top:40px;}
.plan-text ul li{ float:left; width:49.9%;}
.plan-text ul li.border{ border-right:1px solid #444754;}
.plan-text ul li span{ display:block; margin:0 65px; font-size:14px; color:#fff;}

.server01-title{ text-align:center; font-size:24px;}
.server{ width:990px; margin:30px auto 0; overflow:hidden;}
.ser-mtop{ margin-top:20px;}
.ser01 li{ width:33.33%; float:left; margin-bottom:30px; text-align:center; font-size:16px;}
.ser01 li span{ display:block; width:120px; height:120px; margin:0 auto 15px; background:url(../images/lm-icons.png) no-repeat;}
.ser01 li span.icona01{ background-position:0 0;}
.ser01 li span.icona02{ background-position:-120px 0;}
.ser01 li span.icona03{ background-position:-240px 0;}

.ser02{ width:880px;}
.ser02 li{ width:25%; float:left; margin-bottom:30px; text-align:center; font-size:16px;}
.ser02 li span{ display:block; width:90px; height:90px; margin:0 auto 15px; background:url(../images/lm-icons.png) no-repeat;}
.ser02 li span.icona01{ background-position:0 -120px;}
.ser02 li span.icona02{ background-position:-90px -120px;}
.ser02 li span.icona03{ background-position:-180px -120px;}
.ser02 li span.icona04{ background-position:-270px -120px;}
.ser02 li span.icona05{ background-position:-360px -120px;}
.ser02 li span.icona06{ background-position:-450px -120px;}
.ser02 li span.icona07{ background-position:0 -210px;}
.ser02 li span.icona08{ background-position:-90px -210px;}

.cop01{ height:366px; background:url(../images/page-banner02.jpg) center top no-repeat; color:#ec9b0e;}
.cop01 .coparation{ width:960px; margin:50px auto 0; overflow:hidden;}
.cop01 .coparation li{ width:16.6666%; float:left; margin-bottom:30px; text-align:center; font-size:14px;}
.cop01 .coparation li span{ display:block; width:90px; height:90px; margin:0 auto 15px; background:url(../images/lm-icons.png) no-repeat;}
.cop01 .coparation li span.icona01{ background-position:0 -300px;}
.cop01 .coparation li span.icona02{ background-position:-90px -300px;}
.cop01 .coparation li span.icona03{ background-position:-180px -300px;}
.cop01 .coparation li span.icona04{ background-position:-270px -300px;}
.cop01 .coparation li span.icona05{ background-position:-360px -300px;}
.cop01 .coparation li span.icona06{ background-position:-450px -300px;}

.cop02{ height:366px; background:url(../images/page-banner03.jpg) center top no-repeat; color:#fff;}
.cop02 .coparation{ width:960px; margin:50px auto 0; overflow:hidden;}
.cop02 .coparation li{ width:16.6666%; float:left; margin-bottom:30px; text-align:center; font-size:14px;}
.cop02 .coparation li span{ display:block; width:90px; height:90px; margin:0 auto 15px; background:url(../images/lm-icons.png) no-repeat;}
.cop02 .coparation li span.icona01{ background-position:0 -390px;}
.cop02 .coparation li span.icona02{ background-position:-90px -390px;}
.cop02 .coparation li span.icona03{ background-position:-180px -390px;}
.cop02 .coparation li span.icona04{ background-position:-270px -390px;}

.cop03{ height:366px; background:url(../images/page-banner04.jpg) center top no-repeat; color:#fff;}
.cop03 .coparation{ width:480px; margin:50px auto 0; overflow:hidden;}
.cop03 .coparation li{ width:33.3333%; float:left; margin-bottom:30px; text-align:center; font-size:14px;}
.cop03 .coparation li span{ display:block; width:90px; height:90px; margin:0 auto 15px; background:url(../images/lm-icons.png) no-repeat;}
.cop03 .coparation li span.icona01{ background-position:0 -480px;}
.cop03 .coparation li span.icona02{ background-position:-90px -480px;}
.cop03 .coparation li span.icona03{ background-position:-180px -480px;}

.ul-video ul li{ float:left; width:366px; margin-bottom:20px; text-align:center;}

.business-info{ margin-top:30px; line-height:30px; text-align:center; font-size:16px;}
.business-info .mleft{ margin-left:100px;}
.business-info img{ vertical-align:middle; margin-top:-3px;}
.business-info a{ text-decoration:underline;}

.nav-bg{ width:100%; height:58px; line-height:58px; background:#f5f5f9; border-bottom:1px solid #e8e8e9;}

.alliance-income{ width:1100px; margin:0 auto; border-bottom:1px solid #eeeeef; padding:40px 0; overflow:hidden;}
.alliance-income h3{ margin:0 0 30px; font-size:16px; font-weight:bold; background:#e5e5e5; text-indent:1em; height:40px; line-height:40px;}
.alliance-income ul{ margin-left:20px;}
.alliance-income ul li{ float:left; margin-right:20px; font-size:14px; line-height:24px;}
.alliance-income ul li.nomargin{ margin-right:0;}
.alliance-income ul li.income-pic{ text-align:left; font-size:14px;}
.alliance-income ul li.income-btns{ margin-right:0; width:102px; float:right; vertical-align:middle;}
.coperat a{ display:inline-block; margin-right:20px; height:75px; line-height:75px; border:1px solid #e5e5e5; vertical-align:middle;}
.coperat a img{ text-align:center; vertical-align:central}

.bgf2f2{ width:100%; background:#f2f2f2;}
.income-others{ margin:0 !important;}
.income-others li{ float:left; width:33.33%; margin:0 !important; padding:0; text-align:center;}
.income-others li .income-txt{ width:220px; margin:0 auto; text-align:left;}

.income-tleft{ width:460px; overflow:hidden;}
.income-tright{ width:520px; overflow:hidden;;}
.income-ext-right{ border-left:1px solid #e5e5e5; padding-left:20px;}
.income-num{ font:normal 32px/32px "Arial", Gadget, sans-serif;}
.income-text-list dt{ background:url(../images/right-on.png) no-repeat center left; margin-bottom:10px; padding-left:20px;}
.income02 img{ vertical-align:middle; margin-top:-3px;}

.alliance-case{ width:1100px; margin:10px auto; padding:0; overflow:hidden;}
.alliance-case h3{ margin:0; font-size:14px; font-weight:bold; border-bottom:1px solid #e5e5e5; text-indent:1em; height:40px; line-height:40px;}
.case-list-box h3{ cursor:pointer; font-weight:normal;}
.case-list-box h3:hover{ font-weight:bold; border-bottom:1px solid #f2f2f2;}
.alliance-case ul{ margin-top:30px;}
.alliance-case ul li{ float:left; font-size:14px; line-height:24px;}
.case-pic{ width:180px; height:180px; margin-right:20px;}
.case-pic img{ width:180px; height:180px; border:1px solid #e5e5e5; border-radius:160px;}
.case-text{ width:900px; margin-right:0;}
.case-text p{ margin-bottom:15px;}
.case-img{ text-align:center; margin-top:20px;}
.case-img .border{ margin-bottom:20px; border:1px solid #e5e5e5;}

.active-list{ min-height:760px;}
.active-list ul li{ margin:15px 0; padding-bottom:10px; border-bottom:1px dotted #e5e5e5; background:url(../images/news-dot.jpg) no-repeat left 10px; padding-left:10px; font-size:14px; overflow:hidden;}
.active-list ul li a{ float:left;}
.active-list ul li span{ float:right; color:#8e8e93;}
.active-list h3{ margin:0 0 30px; font-size:16px; font-weight:bold; background:#e5e5e5; text-indent:1em; height:40px; line-height:40px;}


table.info-list-02{ background:#fff; font-size:12px;}
table.info-list-02 tr{ background:#fff;}
table.info-list-02 tr td{ padding:10px 5px; line-height:22px; text-align:left; font-size:14px;}

.list-03 tr td{ padding:10px 5px 20px !important; line-height:32px !important; text-align:left; font-size:14px;}

input, select{ font-family:'Microsoft Yahei', Tahoma, Arial;}
#aptitude{ width:180px;}
.w180{ width:180px !important;}

.input_text{ display: inline-block; border:solid 1px #ddd;background-color:#fff; height:48px;line-height:48px;color:#666; width:434px; }
/*得到焦点后*/
.input_text:focus{border:solid 1px #da372a;}


.select_normal{border:solid 1px #ddd;background-color:#fff;padding:4px;line-height:20px;color:#666; min-width:90px; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition:all 0.2s linear 0s; -moz-transition:all 0.2s linear 0s; -o-transition:all 0.2s linear 0s; transition:all 0.2s linear 0s; outline:none;}




.input_noborder{border:none;background:#fff;padding:4px; height:20px;line-height:20px;color:#666; width:80px; font:bold 16px/14px "Arial", Gadget, sans-serif;}

.info-btn{ width:110px; height:40px; border:0; border-radius:2px; cursor:pointer; background:#d53629; color:#fff; overflow:hidden;}
.info-btn:hover{ background:#e03a2b;}

.info-btn01{ width:100px; height:40px; border:0; border-radius:2px; cursor:pointer; background:#eff8ff; border:solid 1px #b8e1ff; color:#3298cb; overflow:hidden;}
.info-btn01:hover{ border:solid 1px #99d5ff; background:#ebf7ff; box-shadow:0 2px 2px rgba(0,0,0,0.075);}


/*页脚*/
.bottom-menu{ height:70px; border-top:1px solid #DCDCDC; line-height:70px; margin-top:20px}
.bottom-menu .l{width:60px;height:70px; line-height:70px; cursor:pointer; position:relative;}
.bottom-menu .m{width:575px;height:70px; margin-left:5px}
.bottom-menu .r{width:220px; text-align:right; height:50px; padding-top:20px; padding-right:60px; background:url(../images/bottom_img_03.jpg) right center no-repeat; line-height:18px}
.friendly-link{ height:45px; line-height:45px; color:#ccc; background:#777; overflow:hidden}
.friendly-link .l{height:45px; width:70px;}
.friendly-link .r{height:45px; width:1030px; text-align:left;}
.friendly-link a{color:#ccc;}
.friendly-link a:hover{color:#fff;}

.footer p{ width:980px; color:#8e8e93; margin:0 auto; padding:10px 0; text-align:center;}
/*返回顶部*/
#gotop{ display:block;  width:60px; height:60px; position:fixed; _position:absolute;  bottom:70px;  right:20px; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));/*ie6 元素固定在底部*/ _margin-bottom:70px; border-radius:4px 4px 4px 4px; text-decoration:none;  display:none;  background-color:#000; opacity:0.5; }
#gotop span{ font-size:14px; text-align:center; margin-top:4px; }
#gotop span:hover{ color:#cccccc; }
#gotop:hover{ background-color:#333; }

/*关于我们*/
.about-us{ width:1100px; height:309px; background:url(../images/about-bg.jpg) no-repeat; color:#fff; overflow:hidden;}
.about-us .about-txt{ width:910px; margin:70px 0 0 60px; font-size:16px; line-height:30px;}
.about-us .about-txt p.title{ margin-bottom:30px; font-size:30px;}
.about-us .about-txt p.txt{ opacity:0.8;}

/*渠道伙伴*/
.partner{ float:left; width:550px; padding-bottom:40px; margin-bottom:1px; text-align:center; color:#fff;}
.p01{ width:980px; margin:0 auto; min-height: 456px; border-radius:8px; background: #F3F3F5; overflow:hidden;}
.p02{ background:url(../images/join-bg02.jpg) no-repeat;}
.p03{ background:url(../images/join-bg03.jpg) no-repeat;}
.p04{ background:url(../images/join-bg04.jpg) no-repeat;}

.ptxt01{width: 486px; margin:60px auto 0; text-align:center; color:#232736; overflow:hidden;}
.ptxt-new{ height:150px; line-height:150px; text-align:center; border-bottom:1px solid #d9d9d9; background:#f5f5f9;}
.ptxt-new img{ margin-top:30px;}
.ptxt01 .f12{ margin-top:40px; text-align:center; line-height:60px;}
.p-info{ width:50%; float:left; text-align:center; line-height:60px;}
.ptxt01 .f14 .t01a{ padding-left:92px;}
.ptxt01 .f14 .t01b{ margin-left:77px;}
.ptxt01 .f14 .t01c{ margin-left:25px;}

.ptxt01 .f14 .t03a{ padding-left:105px;}
.ptxt01 .f14 .t03b{ margin-left:35px;}

.ptxt01 .f14 .t04a{ padding-left:205px;}

.partner-icon{ display:block; width:90px; height:90px; margin:0 auto; background:url(../images/lm-icons-new.png) no-repeat;}
.p-i01{ background-position:-0px -270px;}
.p-i02{ background-position:-90px -270px;}
.p-i03{ background-position:-180px -270px;}
.p-i04{ background-position:-270px -270px;}
.p-i05{ background-position:-0px -360px;}

.register-btn{ display:inline-block; margin:0 auto; width:486px; height:56px; line-height:56px; font-size:18px; color:#fff;}
.bgred{ background:#da372a;}
.bggreen{ background:#3cb158;}

.join-btn03{ display:inline-block; margin-left:20px;}
.join-btn03 a{ display:block; padding:0 20px; margin-top:-1px; font-size:18px; height:54px; line-height:54px; text-align:center; border:1px solid #d9d9d9;}
.join-btn03 a:hover{ border:1px solid #d53629;}

.personal-info{ width:100%; overflow:hidden;}
.personal-info .ptxt01{ width:50%; float:left;}

.register-btn:hover{ color:#fff; opacity:0.8;}
.mtop02{ margin-top:185px;}

/*联系我们20150327*/
.contact-us{ padding:40px 0;}
.contact-us li{ float:left; width:50%; font-size:12px; text-align:center; line-height:200%; background:top right url(../images/border-dot.jpg) repeat-y;}
.contact-us li.noborder{ background:none;}
.f18{ font-size:18px;}
.f24{ font-size:24px;}
.f30{ font-size:30px; line-height:30px;}

.facilitator-text{ line-height:36px;}
.facilitator-text h3{ padding:30px 0 15px; color:#e84c3d; font-size:26px;}
.facilitator-text span{ color:#8e8e93; font-size:18px;}

.moreNewsBtn{ width:100%; margin:0 auto; padding:5px 0; text-align:center; background:#f5f5f5; cursor:pointer;}

.ptxt01 li{ margin-top: 20px;}
.bggrey{ background: #f3f3f5;}
.sub-title{ margin: 40px auto; font-size: 50px; line-height: 60px; text-align: center; color: #D53629;}
.f28{ font-size: 28px;}
.mt100{ margin-top: 100px;}
.dsn{ display: none;}


/*==========以下部分是Validform必须的===========*/
.Validform_checktip{ overflow:hidden; color:#999; font-size:12px; display: block; text-align: left;}
/*.Validform_right{ color:#71b83d; padding-left:20px; background:url(../images/right.png) no-repeat left center; height: 20px; line-height:20px; display: inline-block; vertical-align: middle; margin-left: 5px;
}*/
.Validform_wrong{ color:red; padding-left:20px; margin-left:38px; white-space:nowrap; background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{ padding-left:20px; background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{ background-color:#fff5f5;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
