BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}

H2 {
	FONT-SIZE: 100%
}

#change-city{ position:relative; width:940px; height:600px; margin:0 auto; overflow-y:scroll;}
#change-city .choosecities {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 60px; BACKGROUND: #fff; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; box-shadow: 0 0 1px #d4edf4
}
#change-city .choosecities A:hover {
	TEXT-DECORATION: none
}

#change-city .citieslist H2 {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 20px 20px 12px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: #CC3D44; HEIGHT: 32px; COLOR: #fff; PADDING-TOP: 0px; border-radius: 0
}
#change-city .citieslist H2 SPAN {
	BORDER-BOTTOM: #fff 6px solid; POSITION: absolute; BORDER-LEFT: #fff 6px solid; LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; FLOAT: none; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: #CC3D44 6px solid; TOP: 32px; BORDER-RIGHT: #fff 6px solid; LEFT: 20px
}
#change-city .citieslist LI {
	BORDER-BOTTOM: #fff 1px solid; BORDER-TOP: #fff 1px solid
}
#change-city .citieslist P {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 30px; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 6px
}
#change-city .citieslist SPAN.label {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 24px; WIDTH: 30px; ZOOM: 1; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #666; VERTICAL-ALIGN: top; BORDER-TOP: #ddd 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ddd 1px solid; border-radius: 0; margin-top:6px;
}
#change-city .citieslist SPAN.label STRONG {
	BORDER-BOTTOM: #f7f7f7 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f7f7f7 1px solid; WIDTH: 28px; DISPLAY: block; FONT-FAMILY: Tahoma; BACKGROUND: #f1f1f1; HEIGHT: 28px; FONT-SIZE: 16px; BORDER-TOP: #f7f7f7 1px solid; BORDER-RIGHT: #f7f7f7 1px solid; border-radius: 0
}
#change-city .citieslist SPAN {
	WIDTH: 820px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
#change-city .citieslist SPAN I {
	FONT-STYLE: normal; MARGIN: 0px 3px; COLOR: #ccc
}
#change-city .citieslist .hover {
	BORDER-BOTTOM-COLOR: #e5e5e5; BORDER-TOP-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #e5e5e5; BORDER-LEFT-COLOR: #e5e5e5
}
#change-city .citieslist .hover P {
	BACKGROUND: #f7f7f7
}
#change-city .citieslist .hover SPAN.label {
	BORDER-BOTTOM-COLOR: #CC3D44; BORDER-TOP-COLOR: #CC3D44; BORDER-RIGHT-COLOR: #CC3D44; BORDER-LEFT-COLOR: #CC3D44
}
#change-city .citieslist .hover SPAN.label STRONG {
	BORDER-BOTTOM-COLOR: #CC3D44; BORDER-TOP-COLOR: #CC3D44; BACKGROUND: #CC3D44; COLOR: #fff; BORDER-RIGHT-COLOR: #CC3D44; BORDER-LEFT-COLOR: #CC3D44
}
#change-city .citieslist A {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 20px; MARGIN: 5px 10px; PADDING: 5px 10px;  ZOOM: 1; DISPLAY: inline-block; HEIGHT: 20px;  border-radius: 0
}
#change-city .citieslist A:hover {
	BACKGROUND: #CC3D44; COLOR: #fff
}
#change-city .citieslist .isonline {
	FONT-WEIGHT: bold
}
#change-city .citieslist .isoffline {
	FONT-WEIGHT: bold
}
#bdw {
	MIN-HEIGHT: 500px; margin-top:88px;
}
.cf {
	ZOOM: 1
}
.cf:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: ''
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

BODY {
	FONT: 14px/1.5 Tahoma, Helvetica, arial, sans-serif; BACKGROUND: #f7fafc; COLOR: #000
}
A {
	COLOR: #43A8EB; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
SPAN.money {
	FONT-FAMILY: arial
}
SPAN.required {
	COLOR: red
}

.hide{ display:none}
.city-selected{ position:fixed; top:55px; width:924px; border:1px solid #eeeeee; background:#fff; z-index:2;}
.city-selected h3{ margin:15px 20px; color:#666;}
.city-selected-box{ padding:10px 20px 20px; overflow:hidden;}
.cityName{ position:relative; float:left; padding:5px 10px; margin:0 15px 10px 0; line-height:140% !important; border:1px solid #FFD6D8; background:#FFF2F3;}
.delete-icon{ position:absolute; top:-7px; right:-7px; width:14px; height:14px; background:url(../images/icons-shop-area-delete.png) no-repeat; background-size:14px auto; z-index:999;}
p.cf{ text-indent:0;}