.mtop10 li{text-align: left;}
.t_right li{text-align:right !important;margin-right: 3em;}
.page_break{page-break-after: always;}
.tablePrint td {padding-top:50px; font-size: 18px;}
.tablePrint h2 {color: #000000;}
body {color:#000000;}
.bordered{border-bottom: 1px solid #000000 !important;}
.trbg{color: #dd4929;background-color: #ffffff;}
table.info-list-02 tr td {
    border: solid #666 1px;
}			
.tableBordered td, .tableBordered th {
    padding: 5px;
    border: solid #666 1px;
}
.tableBordered{width: 100%;}
.info {
	padding: 0;
}
li{ list-style:none;padding-top:4px;padding-bottom:4px;}
table.info-list {
    width: 100%;
}
.f14 {
    font-size: 14px !important;
}
.mtop10 {
    margin-top: 10px !important;
}
table.info-list {
    border:0px;
}
table.info-list tr {
    vertical-align: top;
    border:0px;
}
table.info-list tr td {
    padding: 5px 2px;
    border:0px;
}
.t_right {
    text-align: right !important;
}
.t_center {
    text-align: center !important;
}
.tmp_red{color:red;}