html,body,img{width: 100%; overflow-x: hidden;}
body{ font-family:microsoft yahei,heiti SC !important; margin:0; padding:0; color:#414655;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
section p, header p{margin:0 0 10px;}
h1,h2,h3{line-height:30px;}
.red { color: #f2482c !important; }

header h1{ margin-top:15px; margin-bottom: 5px; padding:0 10px; font-size:18px !important; line-height:140%;}
header p{ padding:0 10px; font-size:12px; color:#8e8e93; word-break: break-all;}

section{ padding:0 0 35px;}
section figure{ padding:0 10px; text-align:center; margin:30px 0;}
section h2{ margin-top:20px; padding:0 10px; font-size:16px; font-weight:bold;}
section p, pre{ padding:0 10px !important; font-size:15px !important; line-height:150%; color:#000; word-break: break-all;}
section p span, section p *, section span{ font-size:15px !important; font-family:microsoft yahei,heiti SC !important;}
.summary{ background:#f5f5f5; border-radius:4px; margin:0 10px; padding:15px 10px 10px;}

.bgorange{display: inline-block; width: 10px; height: 20px; text-align: center; margin-top:-3px; margin-right:10px; font-size:14px; line-height:140%; font-weight:normal; vertical-align:middle; background:#f29509; color:#fff; border-radius:4px; padding:1px 5px !important;}
.bggreen{display: inline-block; width: 10px; height: 20px; text-align: center; margin-top:-3px; margin-right:10px; font-size:14px; line-height:140%; vertical-align:middle; background:#3cb158; color:#fff; border-radius:4px; padding:1px 5px !important;}
.bordertopgrey{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch;}

footer{ position:fixed; bottom:0; left: 50%; transform:translate(-50%,0); -webkit-transform:translate(-50%,0); background:#fff;}
footer p { padding:10px 0; margin:0 10px; text-align: center; line-height:120%; font-size: 12px; color: #8e8e93;}

ul, li{ margin: 0; padding: 0; list-style: none;}
.displaybox{/*鑰佽鑼�*/
			display:-moz-box; 
			display:-webkit-box;
			display:box;
	   -moz-box-align: center;
  	-webkit-box-align: center;
  	 		box-align: center; 
  	 		/*鏂拌鑼�*/
			display:-moz-flex;
			display:-webkit-flex;
			display:flex;
	   -moz-align-items: center;
	-webkit-align-items: center;
	        align-items: center; 
	       }
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;/*鑰佽鑼�*/ -moz-flex:1; -webkit-flex:1; flex:1;/*鏂拌鑼�*/ display: block;}
.menu-img{ margin: 0 10px;}
.menu-img li{ margin:0 2px; }
.menu-img li img{ max-height:120px; width: auto;}
.guanjia{ margin: 10px 10px 0; padding: 10px 0;}
.guanjia img{ width:24px; height: auto;}

@media only screen and (min-width:640px) {
header { width:640px; margin:0 auto;}
section { width:640px; margin:0 auto;}
footer { width:640px; margin:0 auto;}
}

@media only screen and (max-width:639px) {
header { width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}

a[href*="cnzz"]{ display: none;}