html { width:100%; height: 100%; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; min-height: 100%; width: 100%; background: #fff; color: #232736; font: 12px/1.5 "Microsoft Yahei", sans-serif; tap-highlight-color: rgba(143,142,148,0.08); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(143,142,148,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);/*去掉点击蓝色焦点*/ }
html{ margin: 0 auto;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{color:#533712; font-size:12px;font-family:"Microsoft YaHei"}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
input{ font-size:12px;}
a{ text-decoration:none; color:#000;}
a:hover{color:#c00; text-decoration:none;}
.clear{clear:both;}
.relative{ position: relative;}
.absolute{ position: absolute;}
img{ width: 100%;}
.zindex2{ z-index: 2;}
.zindex99{ z-index: 99;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f34{ font-size: 34px;}
.mtop20{ margin-top: 20px !important;}
.mtop_bottom45{ margin-top: 45px !important; margin-bottom: 45px !important}
.mtop10{ margin-top: 10px !important;}
.wp100{ width: 100% !important;}
.wp50{ width: 50% !important;}
.dsn{ display:none}
.nobg{ background: none}


.heightp100{ height: 100%;}
.minheight100{ min-height: 100%;}
.sectionBox { margin: 0 auto; background: #fff; font: normal 12px/120% "Microsoft Yahei", helvetica, arial; overflow: hidden; }
.tabBox { margin: 0 auto; padding: 0; background: #f5f5f9; font: normal 12px/120% "Microsoft Yahei", helvetica, arial; overflow:hidden; }
.wrap-bg{ position: absolute; width: 100%; height: 100%; top: 0; bottom: 0; background:rgba(35,39,54,0.95); overflow: hidden; z-index: 9999;}
.tips-box{ position: absolute; top: 46%; width: 90%; margin: -90px 0 0 5%; border-radius: 6px; font-size: 14px; background: #fff;}
.desc-box{ position: absolute; top: 3%; width: 90%; margin: 0 0 0 5%; font-size: 14px; background: none; overflow: hidden;}
#closeTipsBtn{ position: absolute; width: 60%; height: 60px; bottom:0; left: 20%;}

.bingo-box{ width: 52%; top: 43%; left: 24%; text-align: center; font-size: 18px; line-height: 24px;}

/* 大转盘样式 */
.banner{ position: relative; margin-left:auto;margin-right:auto;overflow: hidden;}
.banner .turnplate{display:block;width:90%;position:relative; margin: 34% auto 0;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate img.pointer{position:absolute;width:31.5%;left:34.3%;top:28.5%;}

.top-bg{ position: absolute; top: 0; left: 0; right: 0;}

.main-box{ background:url(../images/main_bg01.jpg) #feca4c no-repeat; background-size:100% auto;}
.main-bg{ overflow: hidden; z-index: 999;}
.main-part01{ width: 100%; overflow: hidden;}
.main-con{ width: 91.25%; margin: 0 auto; background: #fff3dc; border-top-left-radius: 8px; border-top-right-radius: 8px; overflow: hidden;}
.title-img{ width: 46%; margin: 0 27%;}
.w60{ width: 40px;}
.award-bg{ top: 0; left: 0;}

.table-list01{ width: 80%; margin: 0 10%;}

.main-part02{ width: 90%; margin: 20px 5% 0; border-top: 1px solid #b6884b; border-bottom: 1px solid #b6884b; padding-bottom: 10px; overflow: hidden;}
.table-list02{ width: 90%; margin: 0 5%;}
.table-list03{ width: 100%; margin: 0 auto;}
.table-list02 tr td,.table-list03 tr td{ padding: 5px 10px;}
.scroll-box{ width: 100%; height: auto; max-height: 115px; margin-top:10px; padding: 5px 0; overflow-y: scroll;}

.scroll-bar::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); background-color: #fafafa;}
.scroll-bar::-webkit-scrollbar{ width: 1px; background-color: #fafafa;}
.scroll-bar::-webkit-scrollbar-thumb{	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)}


@media only screen and (min-width: 640px) {
html, .banner{ width: 640px;}	
}

@media only screen and (max-width: 639px) {
html{ width: 100%;}		
.banner{ width: 100%; margin: 0 auto;}		
}

a[href*="cnzz"]{ display: none;}