body{ font-family:microsoft yahei; margin: 0; padding: 0; color:#232736; background: #fff; line-height: 180%;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a{ text-decoration:none ;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
p{margin:0 0 20px;}
h1,h2,h3{line-height:30px;}
.bold{ font-weight:bold;}
.t-center{ text-align:center;}
ul,li{ margin: 0; padding: 0; list-style: none;}

header h1{font-size:16px; line-height:24px; text-align:center; margin-bottom:20px;}
header p{ font-size:14px; color:#999;}

section figure{ text-align:center; margin:30px 0; padding:0;}
section h2{ font-size:16px; font-weight:bold;}
section p{ font-size:13px; line-height:180%; color:#232736;}
.p01{ padding-left:22px;}
.square-style{ display:inline-block; vertical-align:middle; margin:-2px 5px 0 0; width:3px; height:3px; line-height:3px; background:#acacac;}

footer p {text-align: center; font-size: 12px; color: #8e8e93; margin:10px;}

.displaybox{/*�Ϲ淶*/
			display:-moz-box; 
			display:-webkit-box;
			display:box;
	   -moz-box-align: start;
  	-webkit-box-align: start;
  	 		box-align: start; 
  	 		/*�¹淶*/
			display:-moz-flex;
			display:-webkit-flex;
			display:flex;
	   -moz-align-items: start;
	-webkit-align-items: start;
	        align-items: start; 
	       }
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;/*�Ϲ淶*/ -moz-flex:1; -webkit-flex:1; flex:1;/*�¹淶*/ display: block;}
/*Ϊ����QQ��UC���������������Ԫ�ر���Ϊ�鼶Ԫ�أ�����Ϊdisplay:block*/

.wp0{ width: 0%;}
/*���Ժ��Ӱ�����������еĿ�Ȳ��ԣ�����취���¡�
html5���Ժ����а��ձ����ֽ���ж����� width: 0%; �Ѿ��й̶�ֵ���в���Ҫ�ӣ�ԭ���������Ӧ����CSS3������  box-orient  û�����Ƶ�ԭ��
<textarea></textarea>��ǩ�����disblock����*/

.grey{ color:#8e8e93 !important;}
.red { color: #f2482c; }
.bgwhite{ background: #fff;}
.bggrey{ background: #f5f5f9;}

.w90{ width: 90px; overflow: hidden;}
.mtop20{ margin-top: 20px;}
.mleft10{ margin-left: 10px;}
.main_con p{ margin: 0 10px 20px;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.desc_title{ font-size: 18px; font-weight: bold; padding: 20px 0 15px;}
.desc_text{ padding: 20px 10px; font-size: 16px;}
.desc_text_info{ margin-left: 20px;}
.desc_text_info li{ margin: 0 0 10px 0; font-size: 16px; list-style: decimal;}


@media only screen and (min-width:640px) {
header { width:640px; margin:0 auto;}
section { width:640px; margin:0 auto;}
footer { width:640px; margin:0 auto;}
}

@media only screen and (max-width:639px) {
header { width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}