html,body{ width:100%; font-family:microsoft yahei; margin:0; padding:0; position:relative; height:auto; min-height:100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); /*去掉点击蓝色焦点*/}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block; margin:0; padding:0;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
a:link, a:visited{ color: #506698; text-decoration: none;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
p{margin:0 0 10px;}
h1,h2,h3{line-height:30px;}
ul,li{ margin:0; padding:0; list-style:none;}

.hide{ display:none;}
.left{ float:left;}
.right{ float:right;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.disblock{ display: block;}
.pos-relative{ position: relative;}
.blue{ color: #506698 !important;}
.grey{ color: #8e8e93;}
.lineHeight160{ line-height:160%;}

.borderone{ border:1px solid #e2e1e4;}
.bordertop{ border-top:1px solid #e2e1e4;}
.borderbottom{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertopgrey{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertbgrey{ border-top:1px solid #e2e1e4; border-bottom: 1px solid #e2e1e4; border-width:1px 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.noborder{ border:none !important;}
.borderleft{ border-left:1px solid #e2e1e4 !important;}
.borderright{ border-right:1px solid #e2e1e4 !important; margin-left: -1px;}
.noborderbottom{ border-bottom: none !important;}

.loading{ text-align:center; height:36px; line-height:36px;}
.loading img{ vertical-align:middle; margin-top:-3px; width:16px;}

.displaybox{ display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box; display:box; -webkit-box-align:center; -moz-box-align:center; -o-box-align:center; -ms-box-align:center; box-align:center; -webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;-ms-box-pack:start;box-pack:start;}
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}

.top-bg{ position:relative; margin:0 auto; padding:0; overflow:hidden;}
.top-text{ position:absolute; width:100%; color:#F1E8D1; top:40%; text-align:center; line-height: 140%;}
.top-text div{ margin-top:6%;}
header h1{ padding:0 10px; font-size:18px; line-height:24px;}
header p{ padding:0 10px; font-size:12px;}

section figure{ padding:0 10px; text-align:center; margin:30px 0;}
section h2{ padding:0 10px; font-size:16px; font-weight:bold;}
section p{ padding:0 10px; font-size:15px; line-height:180%; color:#000;}

table { *border-collapse: collapse; /* IE7 and lower */ border-spacing: 0; width: 100%; }
.bordered { border:none; }
.bordered td, .bordered th { height: 30px; border-top: 1px solid #e7e7e7; padding: 10px 5px; text-align: center; font-size:16px; font-weight:normal; }
.bordered td{ color:#383a46}
.bordered tr:first-child td{ border-top:0;}
.bordered tr.numb01 { background-color: #f9e5e4; border-top: none;}
.bordered tr.numb01 td{ border-top: 1px solid #fff;}
.bordered td:first-child, .bordered th:first-child { border-left: none; }
.bordered tr.title th{ background-color: #fff; font-size: 14px;}

.xibao-foot{ padding:0 10px; overflow:hidden;}
.xibao-foot li.text{ min-width:150px; padding-right:0px; text-align:right; color:#da372a; font-size:12px; line-height:30px;}

.bggrey{ background: #efeff4; border-top: 1px solid #e7e7e7;}
.bgdarkblue{ background: #414655;}
.orange{ color: #fde8b7;}
.white{ color: #fff;}
.mtop10{ margin-top: 10px;}
.desc-text{ text-align: center; color: #8e8e93; padding: 20px 0;}
.icon_free{ position: absolute; top: 6px; right: 12%; width: 38px; height: 38px;}

footer{ position:absolute; bottom:0; left:0; width:100%; text-align:center; background:#fff; border-top:1px solid #e5e5e5;}
footer p { margin:0; padding:10px; text-align: center; font-size: 12px; color: #888;}

@media only screen and (min-width:640px) {
header { width:640px; margin:0 auto; padding-top:10px;}
section { width:640px; margin:0 auto;}
footer { width:100%; margin:0 auto;}
.top-text .f16{ font-size: 24px; line-height: 160%;}
}
@media only screen and (max-width:639px) {
header { width:100%; margin:0 auto; padding-top:10px;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
.top-text .f16{ font-size: 20px; line-height: 140%;}
}
@media only screen and (max-width:419px) {
.top-text .f16{ font-size: 16px;}
}
@media only screen and (max-width:369px) {
.top-text .f16{ font-size: 14px;}
}

a[href*="cnzz"]{ display: none;}