html,body,img{width: 100%; overflow-x: hidden;}
body{ font-family:microsoft yahei; font-size:16px; margin:0; padding:0; tap-highlight-color: rgba(143,142,148,0.08); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(143,142,148,0.08); -webkit-focus-ring-color: rgba(0, 0, 0, 0);/*去掉点击蓝色焦点*/}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
p{margin:0 0 10px;}
h1,h2,h3{line-height:30px;}
.mtop25{ margin-top:25px;}
.red{ color:#dd4929 !important;}
.bold{ font-weight:bold;}
.posrelative{ position:relative;}

header h1{ padding:5px 10px 15px; text-align:left; font-size:20px; line-height:140%;}
header p{ padding:0 10px; font-size:20px; color:#999;}

section{ padding:0;}
section figure{ padding:0; text-align:center; margin:0;}
section h2{ color:#bb1b0f; margin:15px 0 10px 0; padding:0 10px; font-size:20px; font-weight:bold;}
section p{ margin:0 0 5px; padding:0 10px; font-size:18px; line-height:180%; color:#000;}

footer{ background:#fff; border-top:1px solid #ecebeb;}
footer p { padding:0 10px; text-align: center; padding:10px 0; font-size: 12px; color: #888;}


.sectionBox { margin: 0 auto; overflow: hidden; }
.input-normal { position: absolute; outline:none; border:none; border-radius:4px; height:48%; line-height: normal; font-size:18px; font-family:"microsoft yahei"; background:none; color:#232736; padding-left:2%; vertical-align:middle;}
.input-name{ width: 90%; top: 1%; left: 10px;}
.input-phone{ width: 60%; top: 50%; left: 10px;}
.submit-btn{ position: absolute; width:32%; height: 38%; bottom: 5%; right: 2%; opacity: 0; cursor: pointer;}

.page-elements{ margin: 0 auto; overflow: hidden;}

input::-webkit-input-placeholder { color: #676767 !important; vertical-align:middle;}/* WebKit browsers */

.pagebg{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -1;}

.page09_e01{ width: 42%; margin: 15% auto 10%;}
.page09_e02{ width: 80%; margin: 0 auto 14%;}
.page09_e03{ width: 50%; margin: 0 auto;}
.page09_e04{ width: 70%; margin: 10% auto 0;}
.page09_e05{ position: absolute; width: 90%; bottom: 5%; left: 5%;}

a[href*="cnzz"]{ display: none;}

@media only screen and (min-width:640px) {
header { width:640px; margin:0 auto;}
section { width:640px; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}

@media only screen and (max-width:639px) {
header { width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}