body{ font-family:microsoft yahei;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
p{margin:0 0 20px;}
h1,h2,h3{line-height:30px;}
.bold{ font-weight:bold;}

header h1{font-size:16px; line-height:24px; text-align:center; margin-bottom:20px;}
header p{ font-size:14px; color:#999;}

section figure{ text-align:center; margin:30px 0; padding:0;}
section h2{ font-size:16px; font-weight:bold;}
section p{ font-size:13px; line-height:180%; color:#000;}
.p01{ padding-left:22px;}
.square-style{ display:inline-block; vertical-align:middle; margin:-2px 5px 0 0; width:3px; height:3px; line-height:3px; background:#acacac;}

footer p {text-align: center; font-size: 12px; color: #888; margin-top: 24px;}

@media only screen and (min-width:960px) {
header { width:960px; margin:0 auto;}
section { width:960px; margin:0 auto;}
footer { width:960px; margin:0 auto;}
}

@media only screen and (max-width:959px) {
header { width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}