/*
table.mars thead tr {
	background-color: ##DFF8FF;
}

table.mars tr.even {
	background-color: #fff;

	cursor:default;


}

table.mars tr.odd { 
	background-color: #fff;

	cursor:default;

	
}
table.mars span{ 
	background-color: #fff;
	cursor:pointer;
	

}
*/

table.mars{ width:100%; background:#e5e5e5; font-size:14px;}
table.mars tr{ background:#fff;}
table.mars tr td{ padding:10px; line-height:22px;}
table.mars thead tr td{ background:#f7f7f7; font-weight:bold;}
table.mars tr.title01 td{ background:#e5e5e5; font-size:16px; font-weight:bold; color:#dd4929;}




