@import url("displaytag.css");
@import url("alternative.css");
body,input,select{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	white-space:nowrap;
	
}
 body{
 	text-align: center;
 }
h4,h5,h6,p,strong,div,form,acronym,label,table,td,th,span,a,hr,code,pre,hr
	{
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-repeat: no-repeat;
	list-style-type: none;
	white-space:nowrap;
	
}

a,a:link,a:visited,a:hover,a:active {
	color: red;
	text-decoration: underline;
}

a:hover {
	color: red;
	text-decoration: underline;
}

table {
	width: 99%;
	text-align: center;
}

td.r,th.r {
	text-align: right;
	padding-right: 10px;
}

tr.total td,tr.subtotal td {
	background-color: white;
	font-weight: bold;
}