<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>
	<!-- <plugins>
		<plugin interceptor="com.cnfantasia.server.api.pub.mybatis.MybatisInterceptor"></plugin>
	</plugins> -->
    <mappers> 
    	<!-- 业务 -->
        
        <!--引入sql配置文件base-->
        
    </mappers> 
</configuration> 