<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
  	</settings>
  	<typeAliases>
		<typeAlias type="com.cnfantasia.server.ms.logger.entity.ManagerLogger" alias="ManagerLogger"/> <!--后台日志记录表 -->
		
		
  	</typeAliases>
  	<plugins>
		<plugin interceptor="com.cnfantasia.server.api.pub.mybatis.MybatisInterceptor"></plugin>
	</plugins>
    <mappers> 
        <mapper resource="com/cnfantasia/server/ms/mybatis/logger/managerLogger.xml"/> <!--后台日志记录表 -->

    </mappers> 
</configuration> 