<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>
	<plugins>
		<plugin interceptor="com.cnfantasia.server.ms.pub.mybatis.MybatisInterceptor"></plugin>
	</plugins>
    <mappers> 
    	<!-- 业务 -->
        <!-- pub -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/pub/pub.xml"/>
        <!-- 登录 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/login/login.xml"/>
        <!-- 用户管理 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/user/user.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/omsUser/omsUser.xml"/>
        <!-- 权限控制 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/permi/permi.xml"/>
        <!-- notice消息 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/notice/notice.xml"/>
        <!--OMS角色表 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/omsPermiRole/omsPermiRole.xml"/> 
        
        <!-- comm_uuid -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/commUuid/commUuid.xml"/>
        
        <!-- 物业缴费账单 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/payBill/payBill.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/payBill/feePrint.xml"/>
        <!-- 业主信息 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/propertyProprietor/propertyProprietor.xml"/>
        <!-- 物业公司信息 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/propertyCompany/propertyCompany.xml"/>
        <!-- 门牌验证 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/roomValidate/roomValidate.xml"/>
        <!-- 省市区 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/provinceCityBlock/provinceCityBlock.xml"/>
        <!-- 小区信息 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/groupBuilding/groupBuilding.xml"/>
        
        <!-- 小区商家 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/communitySupply/communitySupply.xml"/>
        
        <!-- 小区商家 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/communitySupplyTmp/communitySupplyTmp.xml"/>
        
        <!-- 电商数据临时表 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProduct/ebuyProduct.xml"/>
        
        <!-- 订单列表功能转移 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/ebuy/ebuy_order.xml"/>
        
         <!-- 业务相关的全都放在common文件目录，不要单独再建目录 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/common/channelPartner.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/common/propertyRepair.xml"/>
        <!-- 商家-所属店铺 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/communitySupplyCompany/communitySupplyCompany.xml"/>
         <!-- 神码行动-邀请人配置 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/inviteReward/inviteReward.xml"/>
        
        <mapper resource="com/cnfantasia/server/ms/mybatis/propertyManagement/propertyManagement.xml"/>
        <!-- 楼栋房号 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/buildingRoom/room.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/buildingRoom/building.xml"/>
        
        <!-- 退款管理 -->
		<mapper resource="com/cnfantasia/server/ms/mybatis/rerundOrder/refundOrder.xml"/> 
		
		<!-- 云钥匙审核 -->
		<mapper resource="com/cnfantasia/server/ms/mybatis/cloudKey/cloudKeyMysql.xml"/>
		       
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProductParameters/ebuyProductParameters.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProductIntroducePic/ebuyProductIntroducePic.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyHomeTypeHasProduct/ebuyHomeTypeHasProduct.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProductShelf/ebuyProductShelf.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProductType/ebuyProductType.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/ebuyProductPic/ebuyProductPic.xml"/>
		
		<!-- 收费账期管理 -->
		<mapper resource="com/cnfantasia/server/ms/mybatis/billCycel/billcycle.xml"/>
		
		<mapper resource="com/cnfantasia/server/ms/mybatis/advertise/advertiseForOmsMysql.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/accesslink/accesslink.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/door/door.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/cashFlowSummary/cashFlowSummary.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/cashSqpayBt/cashSqpayBtOOS.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/propertyPayConfig/propertyPayConfig.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/payRedEnvelope/payRedEnvelope.xml"/>
		<mapper resource="com/cnfantasia/server/ms/mybatis/car/car.xml"/>

        <!--幸运购活动-->
        <mapper resource="com/cnfantasia/server/ms/mybatis/flashDealActivity/flashDealActivityCfg.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/payBill/payBillPrint.xml"/>
        <!--引入sql配置文件base-->
        
        <mapper resource="com/cnfantasia/server/ms/mybatis/activity/activity.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/limitBuyActivity/limitBuyActivity.xml"/>
        
        <mapper resource="com/cnfantasia/server/ms/mybatis/loan/loan.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/copyOrder/copyOrder.xml"/>
        
        <!--收费情况汇总报表-->
        <mapper resource="com/cnfantasia/server/ms/mybatis/payBill/payBillReport.xml"/>

        <mapper resource="com/cnfantasia/server/ms/mybatis/dredgeRefund/dredgeRefund.xml"/>
        <mapper resource="com/cnfantasia/server/ms/mybatis/carReport/carReport.xml"/>
    </mappers>  
</configuration> 