html{ margin:0; padding:0;}
body{ position:relative; font-family:microsoft yahei,Hiragino Sans GB,"黑体","宋体",Arial; text-align:left; font-size:28px; color:#474651; line-height:200%; background:#fff; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block; margin:0; padding:0;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
a:link,a:visited{ color:#fff; text-decoration:none;}
a:hover{ color:#fff; text-decoration:none;}
form,ul,li,p,img,dl,dt,input{margin:0px;padding:0px;}
ul,li{list-style:none;}
h1,h2,h3{line-height:30px;}
.dsn{ display:none;}
.red{ color:#dd5248;}
.grey{ color:#8e8e93;}
.bold{ font-weight:bold;}
.mright10{ margin-right:10px;}

.main-box{ position:relative; width:640px; margin:0 auto; padding:10px 0 0; background:#da372a; overflow:hidden;}
.main-box-bg{ position:absolute; width:100%; top:0; left:0; right:0; z-index:1;}
.part01{ position:relative; width:100%; z-index:2;}

.section01{ margin:40px 6.25% 30px;}
.disbox{ display:-moz-box; display:-webkit-box; display:box; -moz-box-align:center; -webkit-box-align:center; box-align:center;}
.disbox-a01{ width:74px; height:74px; margin-right:30px;}
.head-img{ display:block; width:66px; height:66px; line-height:66px; border:3px solid #fff; border-radius:90px; text-align:center; overflow:hidden; [;border:3px solid #ccc outset;]}
.head-img img{ width:100%; height:100%;}

.disbox-a02{ position:relative; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1; background:#fbebea; border-radius:6px; min-height:115px;}
.text01{ text-align:left; padding:10px 20px 0; line-height:160%;}
.arrow{ -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); background:#fbebea; border-radius:2px; width:20px; height:20px; position:absolute; top:50%; left:-5px; margin-top:-10px}

.section02{ margin:0 6.25% 60px; min-height:256px; text-align:center; color:#fff; text-shadow:1px 1px 2px #666; background:url(../images/quan-bg.png) center top no-repeat; border-radius:8px; overflow:hidden;}
.txt01{ margin-top:30px; font-size:36px;}
.num{ margin-top:30px; font-size:90px;}
.txt02{ font-size:24px;}

.foot{ width:640px; margin:0 auto; padding-top:20px; background:#ebebf4 url(../images/border-bg.png) left top repeat-x; background-size:16px; overflow:hidden;}
.dl-btn{ display:block; margin:40px auto; padding:15px 0; width:87.5%; text-align:center; font-size:32px; font-family:microsoft yahei,Hiragino Sans GB,"黑体","宋体",Arial; color:#fff; background:#da372a; border-radius:6px; border:none; outline:none; cursor:pointer;}
.text02{ margin:0 6.25% 40px; line-height:160%;}
.text02 li{ margin-top:10px;}


@media only screen and (min-width:640px) {
.main-box, .foot{ width:640px;}
}

@media only screen and (max-width:639px) {
body{ font-size:16px;}
.main-box, .foot{ width:100%;}
.disbox-a01{ width:54px; height:54px; margin-right:30px;}
.head-img{ display:block; width:50px; height:50px; text-align:center; border:2px solid #fff; border-radius:50px; overflow:hidden;}
.head-img img{ width:100%; height:100%;}
.disbox-a02{ min-height:0;}
.text01{ padding:20px 10px 20px 20px; line-height:160%;}
.section01{ margin:20px 6.25% 15px;}
.section02{ margin:0 6.25% 30px; min-height:0; padding-bottom:10px}
.txt01{ margin-top:15px; font-size:26px;}
.num{ margin-top:20px; font-size:60px;}
.txt02{ font-size:18px;}
.dl-btn{ margin:20px auto; font-size:20px}
.text02 li{ margin-top:5px;}
}

@media only screen and (max-width:339px) {
.dl-btn{ margin:20px auto; font-size:14px}
}