
.dropdown,.dropdown select,.itemlist li,.number .contact-trigger,.number input,.number-clear,.number-input-control button,.tb-history .wrap,a{-webkit-tap-highlight-color:transparent}
.itemlist li.num-fix,.tb-history,.tb-popup{visibility:hidden}
.nav .nav-item,.nav-tmall .nav-item{padding:0!important;-webkit-box-flex:1}
*{margin:0;padding:0}
a{outline:0;-webkit-appearance:0}
body,html{max-width:100%;overflow-x:hidden}
html{background:#fff;font-size:100px}
body{min-width:320px;max-width:640px;font-size:.16rem;margin:0 auto;color:#232736;overflow:hidden;font-family:"Microsoft Yahei", arial}

.tab-content{padding:.64rem 0 .2rem}
.tab-pannel{margin:0 .1rem}
.number-input-control{display:none}
.number-input-control button{display:inline-block;height:.42rem;line-height:.42rem;border:0;white-space:nowrap;background:0 0;font-size:.16rem}
.number input{outline:0;height:.3rem;line-height:.3rem;font-size:20px;font-size:.24rem; text-indent: 0.5em; padding:.08rem 0 .08rem 0;border-radius:4px;background:#e4e4e4;color:#3d4245;width:100%;font-family:"Microsoft Yahei", arial;border:0;-webkit-user-modify:read-write}
.number .tel-control{position:relative}
.number .contact-name,.number .contact-trigger,
.number .number-clear{position:absolute;top:0;z-index:99}
.number .contact-trigger,
.number .number-clear{ color:#fff; width:18px; text-indent: 6px; line-height: 19px; font-size: 12px; height:18px; border-radius: 9px;}
.number .number-clear img{ width: 22px; height: 22px;}
.number .contact-trigger{width:.28rem;height:.26rem;line-height:.26rem;right:.14rem;font-size:.28rem;top:50%;margin-top:-.14rem}
.number .contact-trigger:after{content:'\e601'}
.number .contact-trigger2:after{content:'\e602'}
.number .contact-name{white-space:nowrap;right:.47rem;height:.44rem;line-height:.44rem;max-width:1.1rem;overflow:hidden;text-overflow:ellipsis;color:#4771a8;-webkit-tap-highlight-color:transparent}
.number .contact-name .not-contact{color:#999}
.number .number-clear{display:none;padding:0;right:.14rem;top:50%;margin-top:-.1rem}
.action{margin-top:30px}
.submit{text-align:center;color:#fff;cursor:pointer;height:.5rem;line-height:.5rem;border-radius:4px;background:#f2482c;border-color:#f2482c}
.number-clear{font-size:18px;font-size:.18rem;line-height:.18rem;font-family:iconfont}
.number-clear:after{content:'';font-family:iconfont!important}
.tb-number-input-mode .number{position:relative}
.tb-number-input-mode .tel-control{margin-right:.45rem}
.tb-number-input-mode .number-input-control{display:block;position:absolute;top:0;right:0}
.tb-number-input-mode .contact-name,.tb-number-input-mode .contact-trigger,.tb-number-input-mode .tab-nav{display:none}
.soldOff{color:#444}
.tb-popup{position:fixed;z-index:99;font-size:.14rem}
.tb-popup .error,.tb-popup .loading{border-radius:10px;text-align:center;color:#fff}
.tb-popup .error{padding:15px 20px;background:rgba(0,0,0,.8)}
.tb-popup .loading{background:rgba(0,0,0,.5);width:110px;height:80px;line-height:80px}
.tb-history{position:absolute;width:100%;left:0;bottom:0;background:#fff;z-index:199}
.tb-history .empty{text-align:center;color:#ccc;margin-top:50px}
.tb-history .wrap{border-bottom:1px solid #ddd}
.tb-history .wrap:first-child{border-top:1px solid #ddd;margin-top:10px}
.tb-history .row{width:3rem;margin:0 auto;display:table}
.tb-history .cell{display:table-cell;vertical-align:middle;line-height:.4rem}
.itemlist li,.itemlist ul:after{display:inline-block;vertical-align:top}
.tb-history .number{text-align:right;font-family:arial}
.tb-history .del{width:.3rem;text-align:right;line-height:1}
.tb-history .number-clear{display:block;float:right}
.tb-history .not-contact{color:#999}
.itemlist ul{text-align:justify;font-size:0;letter-spacing:-4px}
.itemlist ul:after{overflow:hidden;width:100%;height:0;content:'';clear:both}
.itemlist li{list-style:none;margin-top:.1rem;font-size:.16rem;outline:0;cursor:pointer;letter-spacing:0}
.itemlist li div{height:.32rem;line-height:.32rem;border:1px solid #e2e1e4; border-radius:2px;text-align:center;background:#fff;overflow:hidden}
#tb-history-new .wrap,#tb-history-new .wrap:last-child:after{background-repeat:repeat-x;background-position:top center;border:none}
.itemlist li div .s{display:none}
.itemlist li div strong{font-weight:400;font-family:arial;margin-right:1px}
.itemlist li.active div{background:#f29708;border-color:#f29708;color:#fff}
.tb-wx .denom li.num-2 div{margin-right:0}
.itemlist li.active .s{visibility:visible}
.itemlist li.disable div{color:#ddd;border-color:#ddd;border-width:1px}
.info{display:table;width:100%;margin:24px 0 0;line-height:22px}
.info .carrier,.info .price{display:table-cell;vertical-align:top}
.info .carrier span{display:block;height:22px;padding-left:24px;background-position:0 50%;background-size:22px 22px;background-repeat:no-repeat}
.info .price{text-align:right;color:#f05b23}
.info .price strong{margin-left:4px;font-family:arial;font-weight:400}
.tb-wx .denom li{width:.96rem}
.dropdown{margin-top:10px}
.dropdown label{display:block}
.dropdown .box{width:100%;display:table;background:#fff;height:.36rem;line-height:.36rem;border-bottom:1px solid #f2f2f2}
.cz-buy .item-info,.cz-buy .item-info .first{border-bottom:1px solid #ddd}
.dropdown .label,.dropdown .list{display:table-cell;vertical-align:middle}
.dropdown .list{text-align:right;padding-right:.1rem}
.dropdown select{-webkit-appearance:none;-moz-appearance:none;border:none;color:#999;background-color:#fff;font-size:.16rem;outline:0}
.dropdown select:disabled{color:#999}
.dropdown .arrow{display:inline-block;vertical-align:middle;color:#999;font-family:iconfont}
.cz-buy{padding-top:0}
.cz-buy .info{margin-top:0}
.cz-buy .tab-pannel{min-width:320px;max-width:640px;width:auto}
.cz-buy .item-info{padding:0 12px;background:#fff}
.cz-buy .item-info div{padding:16px 0}
.cz-buy .item-info span{color:#999}
.cz-buy .number_padding{padding:20px 12px}
.cz-buy .info .carrier{padding-left:12px;vertical-align:middle}
.cz-buy .info .price{padding-right:12px;color:#999;vertical-align:middle}
.cz-buy .info .price strong{font-size:1.5em;color:#f05b23}
.cz-buy .info .price span{color:#f05b23}
.cz-buy .action{margin-top:24px;padding:30px 12px 0}
.cz-buy .info .error-info{color:#fc5225}
.tmall-search .submit{background:#c20712}
.tmall-search .info .price strong{color:#c20712}
.tmall-search .info .price span{color:#c20712;vertical-align:top}
.soldOff{position:relative;left:-.12rem}
#J_Content_new .border{background-image:linear-gradient(180deg,#f2f2f2,#f2f2f2 50%,transparent 50%),linear-gradient(270deg,#f2f2f2,#f2f2f2 50%,transparent 50%),linear-gradient(0deg,#f2f2f2,#f2f2f2 50%,transparent 50%),linear-gradient(90deg,#f2f2f2,#f2f2f2 50%,transparent 50%);background-size:100% 1px,1px 100%,100% 1px,1px 100%;background-repeat:no-repeat;background-position:top,right top,bottom,left top;padding:10px}
#J_Content_new .info .price{color:#f2482c;position:relative;left:15px}
.nav,.nav-tmall{width:100%;left:0}
#J_Content_new .info .price strong:before{font-family:iconfont;content:'\e603';font-weight:bolder;margin-right:-2px}
#J_Content_new .info .price strong{font-weight:bolder;position:relative}
#J_Content_new .info .price strong:after{content:' ';position:absolute;top:0;right:-.2rem;width:.2rem;height:.2rem;background:#fff;z-index:10}
#J_Content_new .tb-history{background:#fff}
#tb-history-new .wrap,#tb-history-new .wrap:last-child:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEUlEQVQIW2NggIG7d+/+B2EAH/IHLVRKM28AAAAASUVORK5CYII=);background-size:1px}
#J_Content_new .dropdown{margin-top:0}
#tb-history-new .wrap:last-child:after{content:'';display:block;height:1px}
#J_Content_new .info .carrier span{padding-left:30px}
.banner img{width:100%;display:block;height:.6rem}
.banner a{margin:0 .1rem .1rem;display:block}
.nav{height:.38rem;padding-top:.1rem;position:absolute;top:0}
.nav_inner{position:relative;margin:0 auto;min-width:320px;max-width:640px;height:.36rem;line-height:.36rem}
.nav .nav_list{margin:0 .1rem;box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.nav .nav-item{-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;position:relative; border-bottom: 1px solid #e2e1e4;}
.nav .nav-item a{display:block;color:#5e646e;text-decoration:none;text-align:center}
.nav .nav-item:last-child a,.nav-tmall .nav-item:last-child a{border-right:0}
.nav .nav-item.cur{border-bottom: 2px solid #e03846; color: #e03846;}
.os-tmall .itemlist li.active div{background:#d10000;border:1px solid #d10000}
.os-tmall .submit{background:#d10000}
.os-tmall #J_Content_new .info .price{color:#d10000}
.nav-tmall{background:#fff;height:.5rem;position:absolute;top:0;box-shadow:0 2px 6px 0 rgba(0,0,0,.2)}
.nav-tmall .nav_inner{position:relative;margin:0 auto;min-width:320px;max-width:640px;height:.47rem;line-height:.47rem}
.nav-tmall .nav_list{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.nav-tmall .nav-item{-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;position:relative}
.nav-tmall .nav-item a{display:block;color:#5e646e;text-decoration:none;text-align:center;padding-bottom:3px}
.nav-tmall .nav-item.cur a{border-bottom:3px solid #DD2727;padding-bottom:0;color:#DD2727}
.tmall-nav .tmall-nav-item{display:none}
.icon-cucc{background:url(./img/ico1.png)center no-repeat}
.icon-cmcc{background:url(./img/ico2.png)center no-repeat}
.icon-ctcc{background:url(./img/ico3.png)center no-repeat}
.icon-alibaba{background:url(./img/ico4.png)center no-repeat}


/*���ӻ��ѳ�ֵ20160711*/
.itemlist li div{padding-top:0.12rem; height: 0.45rem; line-height: 0.16rem; color: #000;}
.selling-price-box{ display: block; font-size: 12px; margin: 2px auto; color: #8e8e93;}
.itemlist li.active div .selling-price-box{ color: #fff;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
