article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block }
audio:not([controls]) { display: none; height: 0 }
[hidden], template {
display:none
}
html { width:100%; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; min-height: 100%; width: 100%; background: #f5f5f9; color: #232736; font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif }
a { background: transparent }
a.white{ color:#fff;}
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
h1 { font-size: 2em; margin: 0.67em 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark { background: #ff0; color: #000 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
pre { white-space: pre-wrap }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0; width:100%; }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0; padding: 0 }
button, input { line-height: normal }
button, select { text-transform: none }
input{ outline:none; font-family:"Microsoft Yahei"}
input[type="button"], input[type="submit"]{ cursor:pointer}

.boxalign { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center }
h1, h2, h3, h4, h5, h6, p { margin: 0 }
ul, ol, li { list-style: none; }
div, p, ul, ol { margin: 0; padding: 0 }
a { text-decoration: none; color: #000; cursor: pointer }
a:focus { outline: none; }
img { max-width: 100% }
[class^="icon-"], [class*=" icon-"] { display:inline-block; vertical-align:text-bottom }
.tbl{ display:table;}
.tbl-cell{ display:table-cell;}
.inline-table{ display:inline-table !important;}
.align-top{ vertical-align:top;}
.disblock { display: block !important; }
.pos-relative { position: relative; }
.group:after { content: ""; display: table; clear: both }
.line-through { text-decoration: line-through }
.clear-margin { margin: 0 !important }
.left { float: left }
.right { float: right }
.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.ui_hide, .hide { display: none}
.p00 { padding: 0 !important }
.p010 { padding: 0 10px !important; }
.pt10 { padding-top: 10px !important }
.pb10 { padding-bottom: 10px !important }
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important }
.p10 { padding: 10px !important }
.m10 { margin: 10px !important }
.m100 { margin: 10px 0 !important }
.pt20 { padding-top: 20px !important }
.pb0{ padding-bottom:0 !important;}
.pb20 { padding-bottom: 20px !important }
.pb200{ padding-bottom:200px;}
.pbfooter { padding-bottom: 70px; }
.ptb20 { padding: 20px 0 !important; }
.p20 { padding: 20px }
.m010{ margin:0 10px;}
.p2010 { padding: 20px 10px; }
.m0{ margin:0 !important}
.m20 { margin: 20px }
.mtb10 { margin: 10px 0; }
.mtb30 { margin: 30px 0; }
.mtop2 { margin-top: 2px; }
.mtop3 { margin-top: -3px; }
.mtop4 { margin-top: -4px; }
.mtop5 { margin-top: 5px; }
.mtop10 { margin-top: 10px; }
.mtop20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
.mleft10 { margin-left: 10px; }
.mright5{ margin-right:5px;}
.mright15{ margin-right:15px;}
.mright10{ margin-right:10px;}
.mright20{ margin-right:20px !important;}
.bold { font-weight: bold }
.normal{ font-weight:normal;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.red { color: #e4393c; }
.grey{ color:#8e8e93 !important; font-weight:normal}
.black{ color:#232736 !important;}
.blue{ color:#0073f5 !important;}
.bggrey{ background:#f5f5f9 !important;}
.divide-box{ margin: 0 auto; height:10px; background: #f5f5f9;}
.bordertop{ border-top:1px solid #e2e1e4;}
.borderbottom{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertopgrey{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.noborder{ border:none !important;}

.disbox{ display:-moz-box; display:-webkit-box; display:box; -moz-box-align:center; -webkit-box-align:center; box-align:center;}

.input-normal { border: solid 1px #e2e1e4; background-color: #fff; padding: 0 4px; color: #232736; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s; }
.input-normal:focus { outline: none; border: solid 1px #33aaff \9; border-color: rgba(82,168,236,0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6) }
textarea { overflow: auto; vertical-align: top }

.back-arrow{ width:10px; margin-top:12px;}

.check-num-btn{ padding:12px 0; color:#5e80a6; text-align:center; background:#dee5ed; border-bottom:1px solid #c3cad2; cursor:pointer;}

/* 标签 */
.sectionBox { margin: 0 auto; background: #fff; font: normal 12px/120% "微软雅黑", helvetica, arial }
.info { position: relative; width:100%; padding-bottom:20px; line-height: 1.2; overflow:hidden;}
.info .message { margin: 5px 0; line-height:140%; color:#8e8e93; }
.info .special { padding: 10px 0 10px 10px; margin:0 10px; line-height:24px;}
.user-status{ position:absolute; left:30px; background:#f29708; color:#fff; padding:1px 5px; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}

/*列表*/
.item-standard{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch; overflow:hidden;}
.item-standard .title{ line-height:34px; overflow:hidden; cursor:pointer; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}
.item-standard .title .left{ margin-left:15px;}
.item-standard .title .left .f14 br{ line-height:18px;}
.item-standard .title .item-arrow-show{ float:right; margin:23px 15px 0 0; width:12px; height:7px; background:url(../images/info-arrow.jpg) no-repeat; background-size:12px;}
.item-standard .title .arrow-down{ background-position:0 -9px;}
.item-standard .name{ white-space:nowrap;}
.item-standard .size{ margin:10px 0 0 0;}
.item-standard .number{ margin:10px 0 20px 0;}
.item-standard .number .name{ margin-right:15px; height:34px; line-height:34px;}

.cinema-list{ margin-left:15px;}
.cinema-list li{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch; font-size:14px; padding:12px 0;}

.cinema-search-box{ padding:8px 0; border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch; overflow:hidden;}
.cinema-search-box .title{ width:100%; height:32px; line-height:24px; overflow:hidden; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0);}
.search-text{ position:relative; width:100%; overflow:hidden; height:32px; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.cinema-search{ position:absolute; width:100%; height:32px; line-height:normal; left:12px; right:12px; padding:0 20px 0 32px; font-size:14px; background:#f5f5f9 url(../images/search-icon.png) no-repeat 9px 8px; background-size:16px; border:0; border-top-left-radius:90px; border-bottom-left-radius:90px; z-index:1; overflow:hidden;}
.quick-delete{ position:absolute; top:9px; right:23px; width:14px; height:14px; background:url(../images/quickdelete.png) no-repeat; background-size:14px auto; z-index:2;}
.btn-search{ width:50px; margin-right:30px; cursor:pointer; text-align:center; height:32px; line-height:32px; color:#fff; background:#09F; border-top-right-radius:90px; border-bottom-right-radius:90px;}

.cinema-address{ color:#b3b3b3;}

.areas{ width:100%; padding:10px; border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch;  overflow:hidden;}
.areas span{ float:left; display:block; margin:5px 10px; padding:1px 5px 0; height:18px; line-height:18px !important; font-size:14px; cursor:pointer; overflow:hidden;}
.areas span.on{ background:#E4393C; color:#fff; border-radius:2px;}

.loading{ text-align:center; height:36px; line-height:36px; border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.loading img{ vertical-align:middle; margin-top:-3px; width:16px;}

 @media only screen and (min-width:560px) {
.sectionBox, .divide-box { width: 560px; }
}
 @media only screen and (max-width:559px) {
.sectionBox, .divide-box { width: 100%; }
}
 @media only screen and (max-width:359px) {
.item-standard .title .f16{ font-size:14px !important;}
.item-standard .title .f14{ font-size:12px !important;}
}

.animated {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

.rotateOut {
  -webkit-animation-name: rotateOut;
          animation-name: rotateOut;
}