<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>
	<plugins>
		<plugin interceptor="com.cnfantasia.server.api.pub.mybatis.MybatisInterceptor"></plugin>
	</plugins>
    <mappers> 
    	<!-- 业务 -->
        <!-- pub -->
        <mapper resource="com/cnfantasia/server/api/mybatis/pub/pub.xml"/>
        <!--<mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonSql.xml"/>-->
        <!--<mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonRoom.xml"/> 移到both里，应该通用-->
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonEbuy.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonGatherData.xml"/><!-- syl-add-2015-7-18 3:13:23 -->

        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonPrize.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonRedenvelope.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonLogin.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commonPoint.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/commBusiness/commDataUpgrade.xml"/><!-- 公共模块-数据升级 -->
        <!-- uuid -->
        <mapper resource="com/cnfantasia/server/api/mybatis/commUuid/commUuid.xml"/>
        
        <!-- 登录 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/login/login.xml"/>
        <!-- 用户管理 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/user/user.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/user/userHasTRoom.xml"/>
        <!-- 门牌管理 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/room/room.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/realRoom.xml"/>
       	<mapper resource="com/cnfantasia/server/api/mybatis/room/propertyManagement.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/groupBuilding.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/building.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/addressBlock.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/addressCity.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/room/addressProvince.xml"/>
        <!-- 抽奖 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/prize/prize.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/prize/prizeRecordTmpData.xml"/>
        <!-- 折扣规则 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/prizeRule/prizeRule.xml"/>
        <!-- 电商 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/ebuy/ebuy.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/ebuy/ebuyMerchant.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/ebuy/producConversionCode.xml"/>
        <!-- 订单 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/ebuy/ebuy_order.xml"/>
        <!-- 评论 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/comments/comments.xml"/>
        <!-- 今晚吃什么 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/eatToday/eatToday.xml"/>
        <!-- 物业公告 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/notice/notice.xml"/>
        <!-- <mapper resource="com/cnfantasia/server/api/mybatis/notice/message.xml"/> -->
        <!-- 版本更新 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/version/version.xml"/>
        <!-- 粮票管理 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/redenvelope/redenvelope.xml"/>
        <!-- 微博模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/microblog/microblog.xml"/>
        <!-- 厨房模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/kitchen/kitchen.xml"/>
        
        <!-- 社区模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/communityLocal/communityLocal.xml"/>
        <!-- 社区商家模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/communitySupply/communitySupply.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/communitySupply/merchantClaim.xml"/>
        <!-- 物业账单 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/payBill/payBill.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/plotproperty/plotproperty.xml"/>
        
        
        <!-- 收藏模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/collections/collections.xml"/>
        <!-- 消息推送模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/msgpush/msgpush.xml"/>
        <!-- 点赞模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/support/support.xml"/>
        <!-- 拼一拼模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/pinyipin/pinyipin.xml"/>
        <!-- 换一换模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/exchange/exchange.xml"/>
        <!-- 世外桃源模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/xanadu/xanadu.xml"/>
        <!-- 积分模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/point/point.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/point/share.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/point/sign.xml"/>
        <!-- 家庭留言板模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/familyMsg/familyMsg.xml"/>

        <!-- 意外惊喜模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/surpriseGift/surpriseGift.xml"/>
        <!-- 物业报修 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/propertyRepair/propertyRepair.xml"/>
        
        <!-- 家庭财富 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/familyWealth/familyWealth.xml"/>
        <!-- 账号管理 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/accountManage/accountManage.xml"/>
        
        <!-- 神码行动 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/inviteReward/inviteReward.xml"/>
        <!-- 性能优化 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/performPro/performPro.xml"/>
        
        <!-- 支付模块 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/payment/payment.xml"/>
        <!--引入sql配置文件base-->
        <!-- 博客队列 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/microblogQueue/microblogQueue.xml"/>
        <!-- 依谷网订单推送 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/ebuy/egu.xml" />
        <!-- 两禁 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/access/accesssql.xml" />

        <!--消费券-->
        <mapper resource="com/cnfantasia/server/api/mybatis/userCoupon/userCoupon.xml" />
        <!-- 门牌校验信息 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/roomValidate/roomValidate.xml" />
        <mapper resource="com/cnfantasia/server/api/mybatis/msAnnualConfession/msAnnualConfession.xml" />

        <mapper resource="com/cnfantasia/server/api/mybatis/flashDealActivity/flashDealActivity.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/propertyAccountInfo/propertyAccountInfo.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/userHasPropertyCard/userHasPropertyCard.xml"/>
        
        <mapper resource="com/cnfantasia/server/api/mybatis/carMsgTask/carMsgTask.xml"/>
        <!--幸运抽奖活动-->
        <mapper resource="com/cnfantasia/server/api/mybatis/lotteryDraw/lotteryDraw.xml"/>
        <!--我的功能栏-->
        <mapper resource="com/cnfantasia/server/api/mybatis/appFunctionBar/appFunctionBar.xml"/>
        <!--物业缴费-->
        <mapper resource="com/cnfantasia/server/api/mybatis/property/property.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/loan/loan.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/huaAn/huaAn.xml"/>
        <mapper resource="com/cnfantasia/server/api/mybatis/xmf/xmf.xml"/>

        <mapper resource="com/cnfantasia/server/api/mybatis/address/address.xml"/>
    </mappers>
</configuration> 