body, html{ position:relative; width:100%; height:100%; margin:0; padding:0; font-family:"microsoft yahei","黑体"; -webkit-tap-highlight-color: rgba(143,142,148,0.08); -webkit-focus-ring-color: rgba(0, 0, 0, 0);/*去掉点击蓝色焦点*/}
div,ul,li,img{ margin:0; padding:0; list-style:none;}
img{ width:100%;}
.bold{ font-weight:bold}
.grey{ color:#8e8e93;}
.hide{ display:none;}
.posrelative{ position:relative;}
.bgred{ background:#da372a;}
.bgblue{ background:#5A25E5;}
.bgpurple{ background:#850097;}
.bgpink{ background:#A62D8A;}
.bggreen{ background:#01893D;}
.bgorange{ background:#C46801;}
.disblock{ display: block;}
.heightp100{ height: 100%;}
.f12{ font-size: 12px;}

.sectionBox { margin: 0 auto; overflow: hidden; }
.input-normal { position: absolute; outline:none; border:none; border-radius:4px; width: 220px; height:34px; line-height: normal; font-size:20px; font-family:"microsoft yahei"; background:none; text-indent: 0.5em; vertical-align:middle;}
.input-phone{ width: 68%; height: 20%; top: 14%; left: 16%;}
.input-amount{ width: 68%; height: 20%; top: 63%; left: 16%;}

.page-elements{ margin: 0 auto; overflow: hidden;}

input::-webkit-input-placeholder { color: #D6D6D6 !important; vertical-align:middle;}/* WebKit browsers */

.arrow-icon{ position: fixed; z-index: 999; bottom: 6%; left: 50%;}
.arrow-up{ position:absolute; width:20px; top:20px; left:50%; margin-left:-10px;}

#audioPlay{ position: absolute; width: 28px; height: 28px; top: 20px; right: 20px; z-index: 9999; background: url(../images/music-note.png) no-repeat; background-size:28px auto ;}

 @media only screen and (min-width:640px) {
.sectionBox { width:640px; margin:0 auto;}
.swiper-container { width: 640px !important; }
}
 @media only screen and (max-width:639px) {
.sectionBox { width:100%; margin:0 auto;}
.swiper-container { width: 100%; }
}

.inputform{ position: absolute; width: 100%; height: 100%; top: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 999;}

.pop-tips{ margin:0 auto; position:fixed; width:100%; top:45%; overflow:hidden; z-index:999;}
.pop-tips-text{ margin:0 auto; padding:10px 15px; width:180px; line-height:20px; text-align:center; background:#232736; color:#fff; border-radius:4px;}
