body{ font-family:microsoft yahei,heiti SC; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
section p, header p{margin:0 0 10px;}
h1,h2,h3{line-height:30px;}

header h1{ margin-top:10px; padding:0 10px; font-size:18px; line-height:24px;}
header p{ padding:0 10px; font-size:12px; color:#999;}

section{ padding:0 0 60px;}
section figure{ padding:0 10px; text-align:center; margin:30px 0;}
section h2{ margin-top:20px; padding:0 10px; font-size:16px; font-weight:bold;}
section p{ padding:0 10px; font-size:16px; line-height:140%; color:#000;}
.summary{ background:#f5f5f5; border-radius:4px; margin:0 10px; padding:15px 10px 10px;}

.bgorange{display: inline-block; width: 10px; height: 20px; text-align: center; margin-top:-3px; margin-right:10px; font-size:14px; line-height:140%; font-weight:normal; vertical-align:middle; background:#f29509; color:#fff; border-radius:4px; padding:1px 5px !important;}
.bggreen{display: inline-block; width: 10px; height: 20px; text-align: center; margin-top:-3px; margin-right:10px; font-size:14px; line-height:140%; vertical-align:middle; background:#3cb158; color:#fff; border-radius:4px; padding:1px 5px !important;}

footer{ position:fixed; bottom:0; background:#fff; border-top:1px solid #e5e5e5;}
footer p { padding:10px 0; margin:0; text-align: center; line-height:120%; font-size: 12px; color: #888;}

@media only screen and (min-width:960px) {
header { width:960px; margin:0 auto;}
section { width:960px; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}

@media only screen and (max-width:959px) {
header { width:100%; margin:0 auto;}
section { width:100%; margin:0 auto;}
footer { width:100%; margin:0 auto;}
}