<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration> 
	<plugins>
		<plugin interceptor="com.cnfantasia.server.api.pub.mybatis.MybatisInterceptor"></plugin>
	</plugins>   
	<mappers> 
    	<!-- 业务 -->
    	<mapper resource="com/cnfantasia/server/api/mybatis/commUuid/commUuid.xml"/>
         <!-- 活动分享 -->
        <mapper resource="com/cnfantasia/server/ms/mybatis/share/share.xml"/>
        <!-- added by Liyl begin -->
        <!-- 两禁 -->
        <mapper resource="com/cnfantasia/server/api/mybatis/access/accesssql.xml" />
        <!-- added by Liyl end -->
    </mappers> 
</configuration> 