section { display: block; }
html { width:100%; height:100%; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; height:100%; min-height: 100%; width: 100%; background: #fff; color: #232736; font: 12px/180% "Microsoft Yahei", sans-serif; -webkit-tap-highlight-color:rgba(0,0,0,0);/*去掉点击蓝色焦点*/ }
a { background: transparent }
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }

img { border: 0; width:100%; }
ul, li { list-style: none; }
div, ul, li, br { margin: 0; padding: 0 }
br{ line-height: 0;}
a { text-decoration: none; color: #232736; cursor: pointer }
a:focus { outline: none; }
img { max-width: 100% }
.align-top{ vertical-align:top;}
.disblock { display: block !important; }
.pos-relative { position: relative; }
.t-center { text-align: center; }
.p010 { padding: 0 10px !important; }
.pb20 { padding-bottom: 20px !important }
.m010{ margin:0 10px;}
.m20 { margin: 20px }
.mtop0 { margin:0 auto !important; }
.mtop3 { margin-top: -3px; }
.mtop5 { margin-top: 5px !important; }
.mtop10 { margin-top: 10px !important; }
.mtop15 { margin-top: 15px; }
.mtop20 { margin-top: 20px; }
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.red { color: #f2482c !important; }
.grey{ color:#8e8e93 !important;}
.divide-box{ margin: 0 auto; height:10px; background: #f5f5f9;}
.borderbottomgrey{ border-bottom: 1px solid #ecebef; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertbgrey{ border-top:1px solid #ecebef; border-bottom: 1px solid #ecebef; border-width:1px 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}

.displaybox{/*老规范*/
			display:-moz-box; 
			display:-webkit-box;
			display:box;
	   -moz-box-align: center;
  	-webkit-box-align: center;
  	 		box-align: center; 
  	 		/*新规范*/
			display:-moz-flex;
			display:-webkit-flex;
			display:flex;
	   -moz-align-items: center;
	-webkit-align-items: center;
	        align-items: center; 
	       }
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;/*老规范*/ -moz-flex:1; -webkit-flex:1; flex:1;/*新规范*/ display: block;}

/* 焦点图 */
.slideBox { position: relative; overflow: hidden; margin: 10px auto 0; background: #fff; max-width: 640px;/* 设置焦点图最大宽度 */ }
.slideBox .hd { position: absolute; height: 28px; line-height: 28px; bottom: 0; left:50%; margin-left:-24px; z-index: 1; }
.slideBox .hd li { display: inline-block; width: 6px; height: 6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #dedfe1; text-indent: -9999px; overflow: hidden; margin: 0 3px; }
.slideBox .hd li.on { background: #e34c58; }
.slideBox .bd { position: relative; z-index: 0;}
.slideBox .bd li { position: relative; text-align: center; }
.slideBox .bd li img { vertical-align: top; width: 100%;}
.slideBox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); font-size: 14px } /* 去掉链接触摸高亮 */

.sectionBox { margin: 0 auto; background: #fff; overflow:hidden;}

.wp80{ width: 76%;}
.bgwhite{ background:#fff !important;}
.list-box{ padding:10px 15px; overflow:hidden;}
.opacity0{ opacity:0;}

 @media only screen and (min-width:640px) {
.sectionBox, .divide-box { width: 640px; }
}
 @media only screen and (max-width:639px) {
.sectionBox, .divide-box { width: 100%; }
}
.p010{ padding:0 10px;}
.mtop0{ margin-top:0;}
.mtop30{ margin-top:30px;}

.bottom-menu-box{ position:fixed; width:inherit; bottom:0; margin:0 auto; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e2e1e4)); z-index:999;}
.bottom-menu-box li{ line-height: normal;}
.btn-submit{ width:100%; color: #fff; text-align:center; border-radius: 4px; height: 48px; line-height: 48px; font-size: 16px; border:0; outline:none;}
.bgred { background: #f2482c; }
.noradius{ border-radius:0; height:58px;}

.maintain-menus{ overflow: hidden;}
.maintain-menus li{float: left; width: 25%; line-height: 26px; padding: 20px 0; font-size: 14px; overflow: hidden; border-bottom: 1px solid #ecebef;}
.maintain-menus li a{ display: block;}
.maintain-menus li img{ width: 16%; min-width: 26px !important; height: 26px; margin: 0 auto;}
.lineheightnormal{ line-height: 160% !important;}

.title-text{ z-index: 2;}
.title-line{ position: absolute; top: 0; left: 15%; width: 70%; height: 8px; z-index: 1;}

.w24{ width: 24px}
.align-middle{ vertical-align:middle;}

a[href*="cnzz"]{ display: none;}